#what_is_openid{
    display: none;
}
#login{
    opacity: 85%;
}
.submit .button{
    background: #6eca25;
    border-color: #00a32a;
}
.submit .button:hover{
    background: #4CAE4C;
    border-color: #00a32a;
}
.wp-core-ui .button-secondary{
    color: #6eca25 !important;
}

.login #login_error, .login .message, .login .success{
    border-left: 4px solid #6eca25 !important;
}