/*
 Theme Name:   Yuko
 Theme URI:    https://git.qmcmc.cn/qctech/Yuko
 Author:       Tennousuathena & Yusi
 Author URI:   https://lemoe.cn
 Version:      2.0.0
*/


.copyright_content{
    padding: 15px;
    background: #f7f7f7;
}


article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display:block
}
audio, canvas, video {
    display:inline-block;
    *display:inline;
    *zoom:1
}
audio:not([controls]) {
    display:none
}
html {
    font-size:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}
sub, sup {
    position:relative;
    font-size:75%;
    line-height:0;
    vertical-align:baseline
}
sup {
    top:-0.5em
}
sub {
    bottom:-0.25em
}
img {
    max-width:100%;
    width:auto\9;
    height:auto;
    vertical-align:middle;
    border:0;
    -ms-interpolation-mode:bicubic
}
button, input, select, textarea {
    margin:0;
    font-size:100%;
    vertical-align:middle
}
button, input {
    *overflow:visible;
    line-height:normal
}
button::-moz-focus-inner, input::-moz-focus-inner {
    padding:0;
    border:0
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance:button;
    cursor:pointer
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor:pointer
}
input[type="search"] {
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-appearance:textfield
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance:none
}
textarea {
    overflow:auto;
    vertical-align:top
}
p {
    margin:0 0 10px
}
.lead {
    margin-bottom:20px;
    font-size:18px;
    font-weight:200;
    line-height:30px
}
small {
    font-size:85%
}
strong {
    font-weight:bold
}
em {
    font-style:italic
}
cite {
    font-style:normal
}
.text-warning {
    color:#c09853
}
.muted {
    color:#999999;
}
a.muted:hover, a.muted:focus {
    color:#808080
}
a.text-warning:hover, a.text-warning:focus {
    color:#a47e3c
}
.text-error {
    color:#d9534f
}
a.text-error:hover, a.text-error:focus {
    color:#c9302c
}
.text-info {
    color:#3a87ad
}
a.text-info:hover, a.text-info:focus {
    color:#2d6987
}
.text-success {
    color:#56af45
}
a.text-success:hover, a.text-success:focus {
    color:#448a37
}
.text-left {
    text-align:left
}
.text-right {
    text-align:right
}
.text-center {
    text-align:center
}
h1, h2, h3, h4, h5 {
    margin:5px 0;
    font-weight:bold;
    line-height:35px;
    color:inherit;
    text-rendering:optimizelegibility
}
.fenye a span, button.btn, .action, .social a, .article-content a.dl {
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.page-header {
    padding-bottom:9px;
    margin:20px 0 20px;
    border-bottom:1px solid #eeeeee
}
ul, ol {
    padding:0;
    margin:0;
    list-style:none
}
li {
    line-height:20px
}
ul.inline, ol.inline {
    margin-left:0;
    list-style:none
}
ul.inline > li, ol.inline > li {
    display:inline-block;
    *display:inline;
    *zoom:1;
    padding-left:5px;
    padding-right:5px
}
hr {
    margin:20px 0;
    border:0;
    border-top:1px solid #eeeeee;
    border-bottom:1px solid #ffffff
}
code, pre {
    padding:0 3px 2px;
    font-family:"Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
    color:#444444;
    border-radius:3px
}
code {
    padding:2px 4px;
    color:#d14;
    background-color:#fbfbfb;
    border:1px solid #e1e1e8;
    white-space:nowrap;
    font-size:14px;
}
pre {
    display:block;
    padding:9.5px;
    margin:0 0 10px;
    font-size:11px;
    line-height:20px;
    word-break:break-all;
    word-wrap:break-word;
    white-space:pre;
    white-space:pre-wrap;
    background-color:#f5f5f5;
    border:1px solid #ccc;
    border:1px solid rgba(0, 0, 0, 0.15);
    border-radius:2px
}
pre.prettyprint {
    margin-bottom:20px
}
pre code {
    padding:0;
    color:inherit;
    white-space:pre;
    white-space:pre-wrap;
    background-color:transparent;
    border:0
}
.pre-scrollable {
    max-height:340px;
    overflow-y:scroll
}
.close {
    float:right;
    font-size:20px;
    font-weight:bold;
    line-height:20px;
    color:#000000;
    text-shadow:0 1px 0 #ffffff;
    opacity:0.2;
    filter:alpha(opacity=20)
}
.close:hover, .close:focus {
    color:#000000;
    text-decoration:none;
    cursor:pointer;
    opacity:0.4;
    filter:alpha(opacity=40)
}
button.close {
    padding:0;
    cursor:pointer;
    background:transparent;
    border:0;
    -webkit-appearance:none
}
.clearfix {
    *zoom:1
}
.clearfix:before, .clearfix:after {
    display:table;
    content:"";
    line-height:0
}
.clearfix:after {
    clear:both
}
.hide-text {
    /*font: 0/0 a;*/
    color:transparent;
    text-shadow:none;
    background-color:transparent;
    border:0
}
.input-block-level {
    display:block;
    width:100%;
    min-height:30px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.row-fluid {
    width:100%;
    *zoom:1
}
.row-fluid:before, .row-fluid:after {
    display:table;
    content:"";
    line-height:0
}
.row-fluid:after {
    clear:both
}
.row-fluid[class*="span"] {
    display:block;
    width:100%;
    min-height:30px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    float:left;
    margin-left:2%;
    *margin-left:1.95%
}
.row-fluid[class*="span"]:first-child {
    margin-left:0
}
.row-fluid .controls-row[class*="span"] +[class*="span"] {
    margin-left:2%
}
.row-fluid .span12 {
    width:100%;
    *width:99.95%
}
.row-fluid .span11 {
    width:91.5%;
    *width:91.45%
}
.row-fluid .span10 {
    width:83%;
    *width:82.95%
}
.row-fluid .span9 {
    width:74.5%;
    *width:74.45%
}
.row-fluid .span8 {
    width:66%;
    *width:65.95%
}
.row-fluid .span7 {
    width:57.5%;
    *width:57.45%
}
.row-fluid .span6 {
    width:49%;
    *width:48.95%
}
.row-fluid .span5 {
    width:40.5%;
    *width:40.45%
}
.row-fluid .span4 {
    width:32%;
    *width:31.95%
}
.row-fluid .span3 {
    width:23.5%;
    *width:23.45%
}
.row-fluid .span2 {
    width:15%;
    *width:14.95%
}
.row-fluid .span1 {
    width:6.5%;
    *width:6.45%
}
.row-fluid .offset12 {
    margin-left:104%;
    *margin-left:103.9%
}
.row-fluid .offset12:first-child {
    margin-left:102%;
    *margin-left:101.9%
}
.row-fluid .offset11 {
    margin-left:95.5%;
    *margin-left:95.4%
}
.row-fluid .offset11:first-child {
    margin-left:93.5%;
    *margin-left:93.4%
}
.row-fluid .offset10 {
    margin-left:87%;
    *margin-left:86.9%
}
.row-fluid .offset10:first-child {
    margin-left:85%;
    *margin-left:84.9%
}
.row-fluid .offset9 {
    margin-left:78.5%;
    *margin-left:78.4%
}
.row-fluid .offset9:first-child {
    margin-left:76.5%;
    *margin-left:76.4%
}
.row-fluid .offset8 {
    margin-left:70%;
    *margin-left:69.9%
}
.row-fluid .offset8:first-child {
    margin-left:68%;
    *margin-left:67.9%
}
.row-fluid .offset7 {
    margin-left:61.5%;
    *margin-left:61.400000000000006%
}
.row-fluid .offset7:first-child {
    margin-left:59.5%;
    *margin-left:59.400000000000006%
}
.row-fluid .offset6 {
    margin-left:53%;
    *margin-left:52.900000000000006%
}
.row-fluid .offset6:first-child {
    margin-left:51%;
    *margin-left:50.900000000000006%
}
.row-fluid .offset5 {
    margin-left:44.5%;
    *margin-left:44.400000000000006%
}
.row-fluid .offset5:first-child {
    margin-left:42.5%;
    *margin-left:42.400000000000006%
}
.row-fluid .offset4 {
    margin-left:36%;
    *margin-left:35.900000000000006%
}
.row-fluid .offset4:first-child {
    margin-left:34%;
    *margin-left:33.900000000000006%
}
.row-fluid .offset3 {
    margin-left:27.5%;
    *margin-left:27.4%
}
.row-fluid .offset3:first-child {
    margin-left:25.5%;
    *margin-left:25.4%
}
.row-fluid .offset2 {
    margin-left:19%;
    *margin-left:18.9%
}
.row-fluid .offset2:first-child {
    margin-left:17%;
    *margin-left:16.9%
}
.row-fluid .offset1 {
    margin-left:10.5%;
    *margin-left:10.399999999999999%
}
.row-fluid .offset1:first-child {
    margin-left:8.5%;
    *margin-left:8.399999999999999%
}
[class*="span"].hide, .row-fluid[class*="span"].hide {
    display:none
}
[class*="span"].pull-right, .row-fluid[class*="span"].pull-right {
    float:right
}
body {
    margin:0;
    font-family:"Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
    line-height:20px;
    color:#555555;
    background-color:#eeeeee;
    overflow-x: hidden;
}
.article-content iframe {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin-left: -30px;
}
a {
    color:#00a67c;
    text-decoration:none
}
a:hover, a:focus {
    color:#007046;
    text-decoration:none
}
::selection {
    background:#72d0eb;
    color:#fff;
    text-shadow:none
}
::-moz-selection {
    background:#72d0eb;
    color:#fff;
    text-shadow:none
}
.container {
    max-width:1226px;
    margin:0 auto;
    text-align:left;
    position:relative;
    *zoom:1
}
.header:before, .container:before, .footer:before, .header:after, .container:after, .footer:after {
    display:table;
    content:"";
    line-height:0
}
.header:after, .container:after, .footer:after {
    clear:both
}
.header {
    top:0;
    width:100%;
    z-index:999;
}
.container {
    margin-bottom:10px
}
.content-wrap {
    width:100%;
    float:left
}
.content {
    margin-right:370px
}
.content-page {
    position: relative;
    background-color: #fff;
}
.page-sidebar {
    width: 225px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height:100%;
    border-right: 1px solid #eee;
}
.content-title {
    font-size: 20px;
    font-weight: normal;
    padding: 15px 20px 14px;
    line-height: 20px;
    background-color: #F7F7F7;
    margin: 0 0 1px;
    border-bottom: 1px solid #eee;
}
.sidebar {
    float:left;
    margin-left:-360px;
    width:360px;
    position:relative
}
.trackcode {
    float:right
}
.footer-inner {
    max-width:1226px;
    padding:16px 20px 14px;
    margin:0 auto;
    color:#aaa;
    text-shadow:0 -1px 0 #333333;
    *zoom:1
}
.footer-inner:before, .footer-inner:after {
    display:table;
    content:"";
    line-height:0
}
.footer-inner:after {
    clear:both
}
.footer a {
    color:#aaa
}
.footer a:hover {
    color:#ddd;
    text-decoration:underline
}
.pagewrapper {
    background-color: #fff;
    position: relative;
}
.pageheader {
    padding: 10px 20px 8px;
    line-height: 24px;
    position: relative;
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
    background-color: #f7f7f7;
}
.pageheader h1 {
    font-size: 21px;
    font-weight: normal;
    padding: 0;
    margin:14px 0 0 0;
    line-height: 24px;
}
.pageheader h1 a {
    color: #444;
}
.pageheader h1 .avatar {
    float: left;
    margin-right: 5px;
}
.pageheader h1 em {
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
}
.pagecontent {
    margin-left: 170px;
    min-height: 600px;
    border-left: 1px solid #eee;
    padding: 20px;
}
.pagecontent .pageheader {
    background: none;
    padding: 0 0 8px;
    margin-bottom: 20px;
}
.pagecontent .pageheader h1 {
    font-size: 20px;
    font-weight: normal;
}
.pagecontent .article-content {
    padding: 0
}
.pagecontent #respond, .pagecontent #postcomments {
    margin: 0 -20px;
}
.pagesidebar {
    position: absolute;
    top:0;
    left:0;
    width: 170px;
    background-color: #fbfbfb;
    bottom: 0
}
.pagesider-menu .sub-menu {
    display: none;
}
.pagesider-menu a {
    margin-bottom: 1px;
    padding:10px 10px;
    color:#888;
    border-left: solid 4px transparent;
    cursor: pointer;
    overflow: hidden;
    border-bottom: 1px solid #EEEEEE;
    display: block;
}
.pagesider-menu a:hover {
    background-color:#f7f7f7;
    color:#666
}
.pagesider-menu li.active a, .pagesider-menu li.current_page_item a, .pagesider-menu li.current-menu-item a {
    color:#444;
    background-color:#fff;
    border-left-color:#00a67c;
    margin-right: -1px;
    position: relative;
    z-index:2;
}
.page-navbar {
    margin-top: 50px;
}
.page-navbar li a {
    padding:10px 16px;
    color:#888;
    display: block;
    border-left: 4px solid transparent;
}
.page-navbar .dropdown-toggle .caret {
    margin-top:8px
}
.page-navbar .active a, .page-navbar .active a:hover, .page-navbar .active a:focus {
    color:#666;
    background-color:#F7F7F7
}
.page-navbar > li > ul {
    font-size:14px
}
.page-navbar > li > ul a {
    padding-left: 36px;
}
.page-navbar li:hover a {
    background-color: #F7F7F7;
    color: #666;
}
.page-navbar li.current-menu-item a, .page-navbar li.current-menu-parent a, .page-navbar li.current_page_item a, .page-navbar li.current-post-ancestor a, .page-navbar li ul {
    background-color:#F7F7F7;
    border-left-color: #00a67c;
    color: #666;
}
fieldset {
    padding:0;
    margin:0;
    border:0
}
legend {
    display:block;
    width:100%;
    padding:0;
    margin-bottom:20px;
    font-size:18px;
    line-height:40px;
    color:#444444;
    border:0;
    border-bottom:1px solid #e5e5e5
}
legend small {
    font-size:15px;
    color:#999999
}
label, input, button, select, textarea {
    font-weight:normal;
    line-height:20px
}
label {
    display:block;
    margin-bottom:5px
}
select, textarea, input {
    display:inline-block;
    height:20px;
    padding:5px 6px 3px;
    margin-bottom:10px;
    line-height:20px;
    color:#555555;
    border-radius:0;
    vertical-align:middle
}
input, textarea, .uneditable-input {
    width:206px
}
textarea {
    height:auto;
}
textarea, input {
    background-color:#fff;
    border:1px solid #D9D9D9;
    border-top-color:#C0C0C0;
    border-left-color:#d0d0d0;
    -webkit-transition:border linear .2s;
    -moz-transition:border linear .2s;
    transition:border linear .2s
}
textarea:hover, input:hover, textarea:focus, input:focus {
    border-color:#999
}
input[type="radio"], input[type="checkbox"] {
    margin:4px 0 0;
    *margin-top:0;
    margin-top:1px \9;
    line-height:normal
}
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
    width:auto
}
select, input[type="file"] {
    height:30px;
    *margin-top:4px;
    line-height:30px
}
.form-actions {
    padding:19px 20px 20px;
    margin-top:20px;
    margin-bottom:20px;
    *zoom:1
}
.form-actions:before, .form-actions:after {
    display:table;
    content:"";
    line-height:0
}
.form-actions:after {
    clear:both
}
.btn {
    display:inline-block;
    *display:inline;
    *zoom:1;
    padding:6px 12px 4px;
    margin-bottom:0;
    line-height:20px;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    border:0;
    border-radius:0;
    font-family:"Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn[type="submit"] {
    height: 30px;
}
.btn:hover, .btn:focus {
    text-decoration:none
}
.btn:focus {
    outline:thin dotted #333;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}
.btn.active, .btn:active {
    outline:0
}
.btn.disabled, .btn[disabled] {
    cursor:default;
    opacity:0.65;
    filter:alpha(opacity=65)
}
.btn-large {
    padding:11px 19px;
    font-size:15px
}
.btn-mini {
    padding:2px 10px;
    font-size:12px
}
.btn-block {
    display:block;
    width:100%;
    padding-left:0;
    padding-right:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.btn-block + .btn-block {
    margin-top:5px
}
input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
    width:100%
}
.btn-primary {
    color:#ffffff;
    background-color:#5fbaac;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    color:#ffffff;
    background-color:#35d2ab
}
.btn-warning {
    color:#ffffff;
    background-color:#f8a31f
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    color:#ffffff;
    background-color:#f88a2a
}
.btn-danger {
    color:#ffffff;
    background-color:#d9534f
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    color:#ffffff;
    background-color:#e51400
}
.btn-success {
    color:#ffffff;
    background-color:#15a287
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    color:#ffffff;
    background-color:#117f69
}
.btn-info {
    color:#ffffff;
    background-color:#00a67c
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    color:#ffffff;
    background-color:#007877
}
.btn-inverse {
    color:#ffffff;
    background-color:#11a99b
}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    color:#ffffff;
    background-color:#31cfa9
}
button.btn, input[type="submit"].btn {
    *padding-top:3px;
    *padding-bottom:3px;
}
button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {
    padding:0;
    border:0
}
button.btn.btn-large, input[type="submit"].btn.btn-large {
    *padding-top:7px;
    *padding-bottom:7px
}
button.btn.btn-small, input[type="submit"].btn.btn-small {
    *padding-top:3px;
    *padding-bottom:3px
}
button.btn.btn-mini, input[type="submit"].btn.btn-mini {
    *padding-top:1px;
    *padding-bottom:1px
}
.btn-group {
    position:relative;
    display:inline-block;
    *display:inline;
    *zoom:1;
    font-size:0;
    vertical-align:middle;
    white-space:nowrap;
    *margin-left:.3em
}
.btn-group:first-child {
    *margin-left:0
}
.btn-group + .btn-group {
    margin-left:5px
}
.btn-toolbar {
    font-size:0;
    margin-top:10px;
    margin-bottom:10px
}
.btn-toolbar > .btn + .btn, .btn-toolbar > .btn-group + .btn, .btn-toolbar > .btn + .btn-group {
    margin-left:5px
}
.btn-group > .btn {
    position:relative;
    border-radius:0
}
.btn-group > .btn + .btn {
    margin-left:1px
}
.btn-group > .btn, .btn-group > .popover {
    font-size:12px
}
.btn-group > .btn-mini {
    font-size:12px
}
.btn-group > .btn-large {
    font-size:15px
}
.btn-group > .btn:first-child, .btn-group > .btn.large:first-child {
    margin-left:0
}
.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active {
    z-index:2
}
.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle {
    outline:0
}
.btn-group > .btn + .dropdown-toggle {
    padding-left:8px;
    padding-right:8px;
    *padding-top:5px;
    *padding-bottom:5px
}
.btn-group > .btn-mini + .dropdown-toggle {
    *padding-top:5px;
    *padding-bottom:4px
}
.btn-group > .btn-large + .dropdown-toggle {
    padding-left:12px;
    padding-right:12px;
    *padding-top:7px;
    *padding-bottom:7px
}
.btn-group.open .btn.dropdown-toggle {
    background-color:#DDDDDD
}
.btn-group.open .btn-primary.dropdown-toggle {
    background-color:#35d2ab
}
.btn-group.open .btn-danger.dropdown-toggle {
    background-color:#E51400
}
.btn-group.open .btn-success.dropdown-toggle {
    background-color:#4CAE4C
}
.btn-group.open .btn-inverse.dropdown-toggle {
    background-color:#333
}
.btn .caret {
    margin-top:8px;
    margin-left:0
}
.btn-large .caret {
    margin-top:6px
}
.btn-large .caret {
    border-left-width:5px;
    border-right-width:5px;
    border-top-width:5px
}
.btn-mini .caret, .btn-small .caret {
    margin-top:8px
}
.dropup .btn-large .caret {
    border-bottom-width:5px
}
.btn-primary .caret, .btn-warning .caret, .btn-danger .caret, .btn-info .caret, .btn-success .caret, .btn-inverse .caret {
    border-top-color:#ffffff;
    border-bottom-color:#ffffff
}
.btn-group-vertical {
    display:inline-block;
    *display:inline;
    *zoom:1
}
.btn-group-vertical > .btn {
    display:block;
    float:none;
    max-width:100%;
    border-radius:0
}
.btn-group-vertical > .btn + .btn {
    margin-left:0;
    margin-top:1px
}
.alert {
    padding:10px 35px 10px 14px;
    margin-bottom:20px;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
    background-color:#fcf8e3;
    border:1px solid #fbeed5;
    border-radius:2px
}
.alert {
    color:#c09853
}
.alert .close {
    position:relative;
    top:0;
    *top:-8px;
    right:-21px;
    line-height:20px
}
.alert-success {
    background-color:#dff0d8;
    border-color:#d6e9c6;
    color:#56af45
}
.alert-error {
    background-color:#f2dede;
    border-color:#eed3d7;
    color:#d9534f
}
.alert-info {
    background-color:#d9edf7;
    border-color:#bce8f1;
    color:#3a87ad
}
.nav {
    margin-left:0;
    margin-bottom:20px;
    list-style:none
}
.nav i {
    display: inline-block;
    vertical-align: text-bottom;
}
.nav > li > a {
    display:block
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration:none;
    background-color:#eeeeee
}
.nav > li > a > img {
    max-width:none
}
.nav > .pull-right {
    float:right
}
.nav-header {
    display:block;
    padding:3px 15px;
    font-size:11px;
    font-weight:bold;
    line-height:20px;
    color:#999999;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform:uppercase
}
.nav li + .nav-header {
    margin-top:9px
}
.nav-list {
    padding-left:15px;
    padding-right:15px;
    margin-bottom:0
}
.nav-list > li > a, .nav-list .nav-header {
    margin-left:-15px;
    margin-right:-15px;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5)
}
.nav-list > li > a {
    padding:3px 15px
}
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
    color:#ffffff;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color:#00a67c
}
.nav-list .divider {
    *width:100%;
    height:1px;
    margin:9px 1px;
    *margin:-5px 0 5px;
    overflow:hidden;
    background-color:#e5e5e5;
    border-bottom:1px solid #ffffff
}
.nav-tabs, .nav-pills {
    *zoom:1
}
.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
    display:table;
    content:"";
    line-height:0
}
.nav-tabs:after, .nav-pills:after {
    clear:both
}
.nav-tabs > li, .nav-pills > li {
    float:left
}
.nav-tabs > li > a, .nav-pills > li > a {
    padding-right:12px;
    padding-left:12px;
    margin-right:2px;
    line-height:14px
}
.nav-tabs {
    border-bottom:1px solid #ddd
}
.nav-tabs > li {
    margin-bottom:-1px
}
.nav-tabs > li > a {
    padding-top:8px;
    padding-bottom:8px;
    line-height:20px;
    border:1px solid transparent;
    border-radius:2px 2px 0 0
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    border-color:#eeeeee #eeeeee #dddddd
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color:#555555;
    background-color:#eeeeee;
    border:1px solid #ddd;
    border-bottom-color:transparent;
    cursor:default
}
.nav-pills > li > a {
    padding-top:8px;
    padding-bottom:8px;
    margin-top:2px;
    margin-bottom:2px;
    border-radius:2px
}
.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    color:#ffffff;
    background-color:#00a67c
}
.nav-stacked > li {
    float:none
}
.nav-stacked > li > a {
    margin-right:0
}
.nav-tabs.nav-stacked {
    border-bottom:0
}
.nav-tabs.nav-stacked > li > a {
    border:1px solid #ddd;
    border-radius:0
}
.nav-tabs.nav-stacked > li:first-child > a {
    border-top-right-radius:4px;
    border-top-left-radius:4px
}
.nav-tabs.nav-stacked > li:last-child > a {
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px
}
.nav-tabs.nav-stacked > li > a:hover, .nav-tabs.nav-stacked > li > a:focus {
    border-color:#ddd;
    z-index:2
}
.nav-pills.nav-stacked > li > a {
    margin-bottom:3px
}
.nav-pills.nav-stacked > li:last-child > a {
    margin-bottom:1px
}
.nav .dropdown-toggle .caret {
    border-top-color:#00a67c;
    border-bottom-color:#00a67c;
    margin-top:6px
}
.nav .dropdown-toggle:hover .caret, .nav .dropdown-toggle:focus .caret {
    border-top-color:#35d2ab;
    border-bottom-color:#35d2ab
}
.nav-tabs .dropdown-toggle .caret {
    margin-top:8px
}
.nav .active .dropdown-toggle .caret {
    border-top-color:#fff;
    border-bottom-color:#fff
}
.nav-tabs .active .dropdown-toggle .caret {
    border-top-color:#555555;
    border-bottom-color:#555555
}
.nav > .dropdown.active > a:hover, .nav > .dropdown.active > a:focus {
    cursor:pointer
}
.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus {
    color:#ffffff;
    background-color:#999999;
    border-color:#999999
}
.nav li.dropdown.open .caret, .nav li.dropdown.open.active .caret, .nav li.dropdown.open a:hover .caret, .nav li.dropdown.open a:focus .caret {
    border-top-color:#ffffff;
    border-bottom-color:#ffffff;
    opacity:1;
    filter:alpha(opacity=100)
}
.tabs-stacked .open > a:hover, .tabs-stacked .open > a:focus {
    border-color:#999999
}
.tabbable {
    *zoom:1
}
.tabbable:before, .tabbable:after {
    display:table;
    content:"";
    line-height:0
}
.tabbable:after {
    clear:both
}
.tab-content {
    overflow:auto
}
.tabs-below > .nav-tabs, .tabs-right > .nav-tabs, .tabs-left > .nav-tabs {
    border-bottom:0
}
.tab-content > .tab-pane, .pill-content > .pill-pane {
    display:none
}
.tab-content > .active, .pill-content > .active {
    display:block
}
.tabs-below > .nav-tabs {
    border-top:1px solid #ddd
}
.tabs-below > .nav-tabs > li {
    margin-top:-1px;
    margin-bottom:0
}
.tabs-below > .nav-tabs > li > a {
    border-radius:0 0 4px 4px
}
.tabs-below > .nav-tabs > li > a:hover, .tabs-below > .nav-tabs > li > a:focus {
    border-bottom-color:transparent;
    border-top-color:#ddd
}
.tabs-below > .nav-tabs > .active > a, .tabs-below > .nav-tabs > .active > a:hover, .tabs-below > .nav-tabs > .active > a:focus {
    border-color:transparent #ddd #ddd #ddd
}
.tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li {
    float:none
}
.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
    min-width:74px;
    margin-right:0;
    margin-bottom:3px
}
.tabs-left > .nav-tabs {
    float:left;
    margin-right:19px;
    border-right:1px solid #ddd
}
.tabs-left > .nav-tabs > li > a {
    margin-right:-1px;
    border-radius:4px 0 0 4px
}
.tabs-left > .nav-tabs > li > a:hover, .tabs-left > .nav-tabs > li > a:focus {
    border-color:#eeeeee #dddddd #eeeeee #eeeeee
}
.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus {
    border-color:#ddd transparent #ddd #ddd;
    *border-right-color:#ffffff
}
.tabs-right > .nav-tabs {
    float:right;
    margin-left:19px;
    border-left:1px solid #ddd
}
.tabs-right > .nav-tabs > li > a {
    margin-left:-1px;
    border-radius:0 4px 4px 0
}
.tabs-right > .nav-tabs > li > a:hover, .tabs-right > .nav-tabs > li > a:focus {
    border-color:#eeeeee #eeeeee #eeeeee #dddddd
}
.tabs-right > .nav-tabs .active > a, .tabs-right > .nav-tabs .active > a:hover, .tabs-right > .nav-tabs .active > a:focus {
    border-color:#ddd #ddd #ddd transparent;
    *border-left-color:#ffffff
}
.nav > .disabled > a {
    color:#999999
}
.nav > .disabled > a:hover, .nav > .disabled > a:focus {
    text-decoration:none;
    background-color:transparent;
    cursor:default
}
.navbar {
    height:52px;
    background-color:#4a4a4a;
    *z-index:2;
    *zoom:1;
    opacity: .9;
    clear:both;
}
.navbar:before, .navbar:after {
    display:table;
    content:"";
    line-height:0
}
.navbar:after {
    clear:both
}
#header {
    background: #1abc9c;
    background: linear-gradient(45deg, #16a085 1%, #1abc9c 45%, #16a085 97%);
    background-image: -ms-linear-gradient(45deg, #16a085 1%, #1abc9c 45%, #16a085 97%);
    background-image: -moz-linear-gradient(45deg, #16a085 1%, #1abc9c 45%, #16a085 97%);
    background-image: -o-linear-gradient(45deg, #16a085 1%, #1abc9c 45%, #16a085 97%);
    background-image: -webkit-linear-gradient(45deg, #16a085 1%, #1abc9c 45%, #16a085 97%);
    background-image: linear-gradient(45deg, #16a085 1%, #1abc9c 45%, #16a085 97%);
    position:relative;
    opacity: 0.9;
}
.container-inner {
    max-width:1226px;
    width:100%;
    margin:0 auto;
    text-align:center;
    position: relative;
}
.navbar .nav {
    position:relative;
    left:0;
    display:block;
    margin:0 auto;
    font-size:16px;
    max-width: 1226px;
}
.navbar .nav.pull-right {
    float:right;
    margin-right:0
}
.navbar .nav > li {
    position:relative;
    float:left;
    margin-right:1px;
    display: block;
    min-width: 75px;
    width:auto;
}
.navbar .nav li a {
    padding:16px 20px;
    color:#ffffff
}
.navbar .nav .dropdown-toggle .caret {
    margin-top:8px
}
.navbar .nav li a:focus, .navbar .nav li a:hover {
    background-color:#16a085;
    color:#ffffff
}
.navbar .nav .active a, .navbar .nav .active a:hover, .navbar .nav .active a:focus {
    color:#ffffff;
    background-color:#16a085
}
.navbar .nav li.current-menu-item a, .navbar .nav li.current-menu-parent a, .navbar .nav li.current_page_item a, .navbar .nav li.current-post-ancestor a {
    color:#fff;
    position:relative;
    z-index:2
}
.navbar .nav li:hover > ul {
    display:block
}
.navbar .nav > li > ul > li > ul {
    padding-bottom:10px;
    text-align:left;
    position:absolute;
    left:100%;
    min-width:120px;
    z-index:10;
    display:none;
    font-size:12px
}
.navbar .nav > li > ul > li {
    float:none;
    margin:0;
    position:relative;
    background-color: #445552;
}
.navbar .nav > li > ul > li > a, .navbar .nav > li > ul > li > ul > li > a {
    float:none;
    display:block;
    *min-width:100px;
    line-height:30px;
    padding:5px 20px 5px;
    color:#ffffff
}
.navbar .nav > li > ul > li > a:hover, .navbar .nav li li.current-menu-item a {
    color:#ffffff
}
.navbar .nav li li a:hover, .navbar .nav li li.current-menu-item a {
    background-color:#576663;
}
.navbar .nav li:hover a, .navbar .nav li.current-menu-item a, .navbar .nav li.current-menu-parent a, .navbar .nav li.current_page_item a, .navbar .nav li.current-post-ancestor a {
    background-color:#16a085
}
/* sub-menu styles */
.sub-menu {
    min-width:130px;
    left: 0;
    max-height: 0;
    position: absolute;
    top: 100%;
    z-index: 0;
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}
.sub-menu li {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    ransform: rotateY(90deg);
    -webkit-transition: opacity .4s, -webkit-transform .5s;
    -moz-transition: opacity .4s, -moz-transform .5s;
    -ms-transition: opacity .4s, -ms-transform .5s;
    -o-transition: opacity .4s, -o-transform .5s;
    transition: opacity .4s, transform .5s;
}
.nav > li:hover .sub-menu, .nav > li:focus .sub-menu {
    max-height: 1000px;
    z-index: 10;
}
.nav > li:hover .sub-menu li, .nav > li:focus .sub-menu li {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
.nav li:hover .sub-menu li:nth-child(1) {
    -webkit-transition-delay: 0ms;
    -moz-transition-delay:0ms;
    -ms-transition-delay:0ms;
    -o-transition-delay:0ms;
    transition-delay:0ms;
}
.nav li:hover .sub-menu li:nth-child(2) {
    -webkit-transition-delay:50ms;
    -moz-transition-delay:50ms;
    -ms-transition-delay:50ms;
    -o-transition-delay:50ms;
    transition-delay:50ms;
}
.nav li:hover .sub-menu li:nth-child(3) {
    -webkit-transition-delay:100ms;
    -moz-transition-delay:100ms;
    -ms-transition-delay:100ms;
    -o-transition-delay:100ms;
    transition-delay:100ms;
}
.nav li:hover .sub-menu li:nth-child(4) {
    -webkit-transition-delay:150ms;
    -moz-transition-delay:150ms;
    -ms-transition-delay:150ms;
    -o-transition-delay:150ms;
    transition-delay:150ms;
}
.nav li:hover .sub-menu li:nth-child(5) {
    -webkit-transition-delay:200ms;
    -moz-transition-delay:200ms;
    -ms-transition-delay:200ms;
    -o-transition-delay:200ms;
    transition-delay:200ms;
}
.nav li:hover .sub-menu li:nth-child(6) {
    -webkit-transition-delay:250ms;
    -moz-transition-delay:250ms;
    -ms-transition-delay:250ms;
    -o-transition-delay:250ms;
    transition-delay:250ms;
}
.nav li:hover .sub-menu li:nth-child(7) {
    -webkit-transition-delay:300ms;
    -moz-transition-delay:300ms;
    -ms-transition-delay:300ms;
    -o-transition-delay:300ms;
    transition-delay:300ms;
}
.nav li:hover .sub-menu li:nth-child(8) {
    -webkit-transition-delay:350ms;
    -moz-transition-delay:350ms;
    -ms-transition-delay:350ms;
    -o-transition-delay:350ms;
    transition-delay:350ms;
}
.sub-menu li:nth-child(1) {
    -webkit-transition-delay:350ms;
    -moz-transition-delay:350ms;
    -ms-transition-delay:350ms;
    -o-transition-delay:350ms;
    transition-delay:350ms;
}
.sub-menu li:nth-child(2) {
    -webkit-transition-delay:300ms;
    -moz-transition-delay:300ms;
    -ms-transition-delay:300ms;
    -o-transition-delay:300ms;
    transition-delay:300ms;
}
.sub-menu li:nth-child(3) {
    -webkit-transition-delay:250ms;
    -moz-transition-delay:250ms;
    -ms-transition-delay:250ms;
    -o-transition-delay:250ms;
    transition-delay:250ms;
}
.sub-menu li:nth-child(4) {
    -webkit-transition-delay:200ms;
    -moz-transition-delay:200ms;
    -ms-transition-delay:200ms;
    -o-transition-delay:200ms;
    transition-delay:200ms;
}
.sub-menu li:nth-child(5) {
    -webkit-transition-delay:150ms;
    -moz-transition-delay:150ms;
    -ms-transition-delay:150ms;
    -o-transition-delay:150ms;
    transition-delay:150ms;
}
.sub-menu li:nth-child(6) {
    -webkit-transition-delay:100ms;
    -moz-transition-delay:100ms;
    -ms-transition-delay:100ms;
    -o-transition-delay:100ms;
    transition-delay:100ms;
}
.sub-menu li:nth-child(7) {
    -webkit-transition-delay:50ms;
    -moz-transition-delay:50ms;
    -ms-transition-delay:50ms;
    -o-transition-delay:50ms;
    transition-delay:50ms;
}
.sub-menu li:nth-child(8) {
    -webkit-transition-delay:0ms;
    -moz-transition-delay:0ms;
    -ms-transition-delay:0ms;
    -o-transition-delay:0ms;
    transition-delay:0ms;
}
.navbar .btn-navbar {
    display:none;
    float:right;
    padding:5px 8px 6px;
    margin-left:5px;
    margin-right:5px;
    margin-top:11px;
    background-color:#16a085
}
/*@font-face {*/
/*    font-family:'jin_mei_mxplzx55112';*/
/*    src:url(fonts/jin_mei_mxplzx.eot);*/
/*    src:url(fonts/jin_mei_mxplzx.eot?#iefix) format('embedded-opentype'), url(fonts/jin_mei_mxplzx.woff) format('woff'), url(fonts/jin_mei_mxplzx.ttf) format('truetype'), url(fonts/jin_mei_mxplzx.svg#jin_mei_mxplzx55112)format('svg');*/
/*    font-weight:normal;*/
/*    font-style:normal;*/
/*}*/
/*@font-face {*/
/*    font-family:'minijianxixingkai55387';*/
/*    src:url(fonts/minijianxixingkai.eot);*/
/*    src:url(fonts/minijianxixingkai.eot?#iefix) format('embedded-opentype'), url(fonts/minijianxixingkai.woff) format('woff'), url(fonts/minijianxixingkai.ttf) format('truetype'), url(fonts/minijianxixingkai.svg#minijianxixingkai55387)format('svg');*/
/*    font-weight:normal;*/
/*    font-style:normal;*/
/*}*/
.yusi-logo {
    display: block;
    text-align: center;
}
.yusi-logo h1 {
    font-weight:100;
    text-shadow: 0 0 1px rgba(94, 255, 216, 0.8);
    display: inline-block;
    padding:30px 0 20px 0;
    cursor: pointer;
    position: relative;
    color: #fff;
}
.yusi-mono {
    font-family: jin_mei_mxplzx55112;
    letter-spacing: -2px;
    font-size: 54px;
    margin: 0;
    padding: 0;
    z-index: 0;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.yusi-bloger {
    font-family: minijianxixingkai55387;
    font-size: 24px;
    margin-left: -6px;
    letter-spacing: -2px;
    padding: 0;
    z-index: 2;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.yusi-logo h1:hover .yusi-mono {
    letter-spacing: 5px;
}
.yusi-logo h1:hover .yusi-bloger {
    left: 26px;
    opacity: 0.2;
}
.toggle-search {
    position: absolute;
    margin-top: 0;
    right: 0;
    padding:16px 19px 16px 19px;
    height:20px;
    background:#16a085;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
.toggle-search:hover, .toggle-search.active {
    opacity: .75;
}
.search-expand {
    display:none;
    background:#16a085;
    position:absolute;
    top:52px;
    right:0;
    width:360px;
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.1)
}
.search-expand-inner {
    border-bottom: 1px solid #d2d6d5;
    border-left: 1px solid #d2d6d5;
}
.search-expand .themeform input {
    width:90%;
    border:0;
    outline: none;
}
.searchform div {
    position:relative
}
.searchform div input {
    margin: 0;
    padding-left:26px;
    line-height:20px
}
.searchform div:after {
    color:#ccc;
    line-height:24px;
    font-size:14px;
    content:"\f002";
    position:absolute;
    left:10px;
    top:8px;
    font-family:FontAwesome
}
.searchform div input.search {
    padding-left:30px;
    height:31px;
    font-family:"Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.breadcrumb {
    padding:8px 15px;
    margin:0 0 20px;
    list-style:none;
    background-color:#f5f5f5;
    border-radius:2px
}
.breadcrumb > li {
    display:inline-block;
    *display:inline;
    *zoom:1;
    text-shadow:0 1px 0 #ffffff
}
.breadcrumb > li > .divider {
    padding:0 5px;
    color:#ccc
}
.breadcrumb > .active {
    color:#999999
}
.pagination {
    padding:20px 0 15px 0;
    background-color: rgba(248, 251, 253, 0.55);
    text-align:center
}
.pagination ul {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin-left:0;
    margin-bottom:0
}
.pagination ul > li {
    display:inline
}
.pagination ul > li > a, .pagination ul > li > span {
    margin:0 3px;
    float:left;
    padding:4px 12px 3px;
    line-height:20px;
    text-decoration:none;
    background-color:#eee;
    color:#666
}
.pagination ul > li > a:hover, .pagination ul > li > a:focus {
    background-color:#6fc299;
    color:#ffffff
}
.pagination ul > .active > a, .pagination ul > .active > span {
    background-color:#00a67c;
    color:#fff
}
.pagination ul > .active > a, .pagination ul > .active > span {
    cursor:default
}
.pagination ul > li > span, .pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > a:focus {
    color:#999999;
    background-color:transparent;
    cursor:default
}
.ias_trigger {
    padding-top: 4px;
}
.ias_trigger a {
    background-color: #11a99b;
    display: block;
    line-height: 35px;
    text-align: center;
    color: #eee;
}
.ias_trigger a:hover {
    background-color: #00a67c;
    color: #fff;
}
.pagination-loading {
    text-align: center;
    color: #666;
    line-height: 1.5rem;
}
.commentnav {
    overflow:hidden;
    text-align:center;
    padding:20px
}
.commentnav a, .commentnav .current, .commentnav .page-numbers {
    padding:4px 12px 3px;
    color:#666;
    display:inline-block;
    background-color:#eee;
    margin:0 1px
}
.commentnav .current {
    background-color:#00a67c;
    color:#fff
}
.commentnav a:hover {
    background-color:#6fc299;
    color:#fff
}
.rollto {
    position:fixed;
    right:20px;
    bottom:70px;
    z-index:999;
    width:32px;
    display: none;
}
.rollto .btn {
    margin-top: 2px;
    padding: 9px 10px 9px;
    height: 36px;
}
.rollto .btn i {
    margin-top: 0;
}
.rollto .btn {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.speedbar {
    clear:both;
    color:#666;
    background-color: rgba(248, 251, 253, 0.75);
    padding:8px 20px 18px;
    line-height: 25px;
    *zoom:1;
    overflow: hidden;
    height: 14px;
    margin-bottom:10px;
}
.speedbar i {
    opacity: 0.50;
    filter:alpha(opacity=50);
}
.speedbar .btn-group {
    float:right;
    margin-left:6px
}
.modal-backdrop {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1040;
    background-color:#000000
}
.modal-backdrop.fade {
    opacity:0
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity:0.8;
    filter:alpha(opacity=80)
}
.modal {
    position:fixed;
    top:10%;
    left:50%;
    z-index:1050;
    width:560px;
    margin-left:-280px;
    background-color:#ffffff;
    border:1px solid #999;
    border:1px solid rgba(0, 0, 0, 0.3);
    *border:1px solid #999;
    border-radius:4px;
    box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip:padding-box;
    -moz-background-clip: padding;
    background-clip:padding-box;
    outline:none
}
.modal.fade {
    -webkit-transition:opacity .3s linear, top .3s ease-out;
    -moz-transition:opacity .3s linear, top .3s ease-out;
    transition:opacity .3s linear, top .3s ease-out;
    top:-25%
}
.modal.fade.in {
    top:10%
}
.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee
}
.modal-header .close {
    margin-top:2px
}
.modal-header h3 {
    margin:0;
    line-height:30px
}
.modal-white {
    border:none;
    border-radius:0;
    box-shadow:none
}
.modal-body {
    position:relative;
    overflow-y:auto;
    max-height:400px;
    padding:15px
}
.modal-form {
    margin-bottom:0
}
.modal-footer {
    padding:14px 15px 15px;
    margin-bottom:0;
    text-align:right;
    background-color:#f5f5f5;
    border-top:1px solid #ddd;
    border-radius:0 0 6px 6px;
    box-shadow:inset 0 1px 0 #ffffff;
    *zoom:1
}
.modal-footer:before, .modal-footer:after {
    display:table;
    content:"";
    line-height:0
}
.modal-footer:after {
    clear:both
}
.modal-footer .btn + .btn {
    margin-left:5px;
    margin-bottom:0
}
.modal-footer .btn-group .btn + .btn {
    margin-left:-1px
}
.modal-footer .btn-block + .btn-block {
    margin-left:0
}
.tooltip {
    font-size:12px;
    position:absolute;
    z-index:1030;
    display:block;
    visibility:visible;
    line-height:20px;
    opacity:0;
    filter:alpha(opacity=0)
}
.tooltip.in {
    opacity:0.8;
    filter:alpha(opacity=80)
}
.tooltip.top {
    margin-top:-3px;
    padding:5px 0
}
.tooltip.right {
    margin-left:3px;
    padding:0 5px
}
.tooltip.bottom {
    margin-top:3px;
    padding:5px 0
}
.tooltip.left {
    margin-left:-3px;
    padding:0 5px
}
.tooltip-inner {
    max-width:200px;
    padding:3px 8px 2px;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background-color:#27937b;
    border-radius:2px;
    opacity:0.9;
    filter:alpha(opacity=90)
}
.tooltip-arrow {
    position:absolute;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid
}
.tooltip.top .tooltip-arrow {
    bottom:0;
    left:50%;
    margin-left:-5px;
    border-width:5px 5px 0;
    border-top-color:#27937b;
    opacity:0.9;
    filter:alpha(opacity=90)
}
.tooltip.right .tooltip-arrow {
    top:50%;
    left:0;
    margin-top:-5px;
    border-width:5px 5px 5px 0;
    border-right-color:#27937b;
    opacity:0.9;
    filter:alpha(opacity=90)
}
.tooltip.left .tooltip-arrow {
    top:50%;
    right:0;
    margin-top:-5px;
    border-width:5px 0 5px 5px;
    border-left-color:#27937b;
    opacity:0.9;
    filter:alpha(opacity=90)
}
.tooltip.bottom .tooltip-arrow {
    top:0;
    left:50%;
    margin-left:-5px;
    border-width:0 5px 5px;
    border-bottom-color:#27937b;
    opacity:0.9;
    filter:alpha(opacity=90)
}
.popover {
    position:absolute;
    top:0;
    left:0;
    z-index:1010;
    display:none;
    max-width:262px;
    padding:1px;
    text-align:left;
    background-color:#ffffff;
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding;
    background-clip:padding-box;
    border:1px solid #ccc;
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius:4px;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
    white-space:normal
}
.popover.top {
    margin-top:-10px
}
.popover.right {
    margin-left:10px
}
.popover.bottom {
    margin-top:10px
}
.popover.left {
    margin-left:-10px
}
.popover-title {
    margin:0;
    padding:8px 14px;
    font-size:14px;
    font-weight:normal;
    line-height:18px;
    background-color:#f7f7f7;
    border-bottom:1px solid #ebebeb;
    border-radius:5px 5px 0 0
}
.popover-title:empty {
    display:none
}
.popover-content {
    padding:9px 14px
}
.popover .arrow, .popover .arrow:after {
    position:absolute;
    display:block;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid
}
.popover .arrow {
    border-width:11px
}
.popover .arrow:after {
    border-width:10px;
    content:""
}
.popover.top .arrow {
    left:50%;
    margin-left:-11px;
    border-bottom-width:0;
    border-top-color:#999;
    border-top-color:rgba(0, 0, 0, 0.25);
    bottom:-11px
}
.popover.top .arrow:after {
    bottom:1px;
    margin-left:-10px;
    border-bottom-width:0;
    border-top-color:#ffffff
}
.popover.right .arrow {
    top:50%;
    left:-11px;
    margin-top:-11px;
    border-left-width:0;
    border-right-color:#999;
    border-right-color:rgba(0, 0, 0, 0.25)
}
.popover.right .arrow:after {
    left:1px;
    bottom:-10px;
    border-left-width:0;
    border-right-color:#ffffff
}
.popover.bottom .arrow {
    left:50%;
    margin-left:-11px;
    border-top-width:0;
    border-bottom-color:#999;
    border-bottom-color:rgba(0, 0, 0, 0.25);
    top:-11px
}
.popover.bottom .arrow:after {
    top:1px;
    margin-left:-10px;
    border-top-width:0;
    border-bottom-color:#ffffff
}
.popover.left .arrow {
    top:50%;
    right:-11px;
    margin-top:-11px;
    border-right-width:0;
    border-left-color:#999;
    border-left-color:rgba(0, 0, 0, 0.25)
}
.popover.left .arrow:after {
    right:1px;
    border-right-width:0;
    border-left-color:#ffffff;
    bottom:-10px
}
.label, .badge {
    position:relative;
    display:inline-block;
    padding:4px 6px 3px;
    line-height:14px;
    color:#ffffff;
    vertical-align:baseline;
    white-space:nowrap;
    background-color:#999999
}
.badge {
    padding:1px 4px 0
}
.label:empty, .badge:empty {
    display:none
}
a.label:hover, a.label:focus, a.badge:hover, a.badge:focus {
    color:#ffffff;
    text-decoration:none;
    cursor:pointer
}
.label-arrow {
    position:absolute;
    width:0;
    height:0;
    vertical-align:top;
    content:""
}
.label .label-arrow {
    top:7px;
    right:-4px;
    border-left:4px solid #000000;
    border-top:4px solid transparent;
    border-bottom:4px solid transparent
}
.label-important, .badge-important {
    background-color:#d9534f
}
.label-important .label-arrow, .badge-important .label-arrow {
    border-left-color:#d9534f
}
.label-warning, .badge-warning {
    background-color:#f89406
}
.label-warning .label-arrow, .badge-warning .label-arrow {
    border-left-color:#f89406
}
.label-success, .badge-success {
    background-color:#56af45
}
.label-success .label-arrow, .badge-success .label-arrow {
    border-left-color:#56af45
}
.label-info, .badge-info {
    background-color:#3a87ad
}
.label-info .label-arrow, .badge-info .label-arrow {
    border-left-color:#3a87ad
}
.label-inverse, .badge-inverse {
    background-color:#4A4A4A
}
.label-inverse .label-arrow, .badge-inverse .label-arrow {
    border-left-color:#4A4A4A
}
a.label-important:hover, a.badge-important:hover {
    background-color:#d33632
}
a.label-info:hover .label-arrow, a.badge-info:hover .label-arrow {
    border-left-color:#d33632
}
a.label-warning:hover, a.badge-warning:hover {
    background-color:#d57f05
}
a.label-warning:hover .label-arrow, a.badge-warning:hover .label-arrow {
    border-left-color:#d57f05
}
a.label-success:hover, a.badge-success:hover {
    background-color:#49953b
}
a.label-success:hover .label-arrow, a.badge-success:hover .label-arrow {
    border-left-color:#49953b
}
a.label-info:hover, a.badge-info:hover {
    background-color:#317292
}
a.label-info:hover .label-arrow, a.badge-info:hover .label-arrow {
    border-left-color:#317292
}
a.label-inverse:hover, a.badge-inverse:hover {
    background-color:#383838
}
a.label-inverse:hover .label-arrow, a.badge-inverse:hover .label-arrow {
    border-left-color:#383838
}
.btn .label, .btn .badge {
    position:relative;
    top:-1px
}
.btn-mini .label, .btn-mini .badge {
    top:0
}
.fade {
    opacity:0;
    -webkit-transition:opacity 0.15s linear;
    -moz-transition:opacity 0.15s linear;
    transition:opacity 0.15s linear
}
.fade.in {
    opacity:1
}
.pull-right {
    float:right
}
.pull-left {
    float:left
}
.hide {
    display:none
}
.show {
    display:block
}
.invisible {
    visibility:hidden
}
.affix {
    position:fixed
}
.archive-header {
    background-color: rgba(248, 251, 253, 0.75);
    padding: 5px 20px;
    margin-bottom: 1px;
}
.archive-header h1 {
    font-size:22px;
    color: #7A6F6F;
    font-weight: normal;
}
.archive-header h1 a i {
    padding-top:2px;
    color:#f58128;
}
.archive-header i {
    font-size:1em;
}
.archive-header-info {
    color:#666666;
    margin:-4px 0 0;
}
.banner-your {
    display:block;
    background-color:#fbfbfb;
    border:2px dashed #bbb;
    text-align:center;
    color:#aaa;
    line-height:20px;
    font-size:22px
}
.banner-your:hover {
    border-color:#aaa;
    color:#888
}
.banner-your:active {
    border-color:#D9534F;
    color:#D9534F
}
.title {
    position: relative;
    height:45px;
    border-bottom:1px solid #90bba8;
    margin:5px 20px;
}
.title h2 {
    font-size: 16px;
    font-weight: normal;
    line-height: 45px;
    color: #1abc9c;
}
.excerpt {
    background-color: rgba(248, 251, 253, 0.75);
    padding:20px 15px 20px 20px;
    margin-bottom:10px;
    position:relative;
    clear:both;
}
.excerpt:before, .excerpt:after {
    display:table;
    content:"";
    line-height:0
}
.excerpt:after {
    clear:both
}
.excerpt-nothumbnail {
    padding-left: 20px;
}
.excerpt header {
    margin:0 10px 15px 0
}
.excerpt .focus {
    float:left;
    margin:0px 20px 0 0;
    text-align:center;
    position:relative;
    overflow:hidden;
    display:table;
}
.excerpt .focus a {
    display:table-cell;
    vertical-align:middle;
}
.excerpt .focus a img {
    margin:0 auto;
    display:block;
    -webkit-transition: -webkit-transform 0.3s linear;
    -moz-transition: -moz-transform 0.3s linear;
    -o-transition: -o-transform 0.3s linear;
    transition: transform 0.3s linear;
}
.excerpt:hover .focus a img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.excerpt p.auth-span {
    float:right;
    position: absolute;
    bottom:0px;
    right:0px;
}
/*For IE7*/
*+html .excerpt .focus a {
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    height:auto;
}
*+html .excerpt .focus a img {
    position:relative;
    top:-50%;
    left:-50%;
}
.excerpt header .label {
    margin-right:5px;
    position:relative;
    top:-2px;
    padding: 2px 6px 4px;
}
.excerpt h2 {
    display:inline;
    font-size:20px;
    margin:0;
    font-weight:normal;
    position:relative;
    top:1px;
    line-height:25px
}
.excerpt .note {
    color:#777;
    line-height: 24px;
    margin-bottom:0
}
.excerpt .itag a {
    border-style:solid;
    border-width:1px;
    border-color:#e2e2e2 #ddd #ddd #e2e2e2;
    display:inline-block;
    margin-right:3px;
    border-radius:1px;
    padding:0 5px;
    line-height:18px
}
.excerpt .muted, .article-header .muted, .article-header .cate {
    margin-right:20px
}
.hot-posts .muted .action, .excerpt .muted .action {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 0;
    padding: 0;
    color:#f78585 !important;
    font-size:13px;
}
.hot-posts .muted .action i, .excerpt .muted .action i {
    margin-right:1px !important;
}
.hot-posts .muted {
    margin-left:20px;
}
.excerpt .muted {
    font-size:13px;
}
.comm {
    position:absolute;
    right:20px;
    top:23px;
    color:#fff;
    background-color:#00a67c;
    padding:1px 8px 0;
    min-width:14px;
    text-align:center
}
.comm i {
    display:inline-block;
    border:5px dotted;
    border-color:#00a67c transparent;
    border-bottom-width:0;
    border-left-width:0;
    position:absolute;
    bottom:-5px;
    left:50%;
    margin-left:-2px
}
.comm:hover {
    color:#fff;
    background-color:#D9534F
}
.comm:hover i {
    border-color:#D9534F transparent
}
.banner-excerpt {
    margin-bottom:5px;
    padding-top:4px
}
.icot {
    display:inline-block;
    margin-right:10px;
    position:relative;
    color:#999;
    background-color:#eee;
    padding:0 6px;
    height:23px;
    line-height:23px;
    min-width:36px;
    text-align:center
}
.icot i {
    display:inline-block;
    border:5px dotted;
    border-color:transparent #eee;
    border-right-width:0;
    position:absolute;
    top:50%;
    margin-top:-5px;
    right:-5px
}
.aside-tit {
    clear:both;
    border-bottom:1px solid #BDD2DF;
    padding-bottom:5px;
    margin-bottom:10px;
    color:#333333
}
.aside-tit span {
    font-weight:normal;
    float:right
}
.aside-tit a {
    margin-left:8px
}
.base-tit {
    clear:both;
    font-size:15px;
    border-bottom:solid 1px #e6e6e6;
    background-color: rgba(248, 251, 253, 0.75);
    padding:11px 20px 9px;
    margin:-20px -20px 20px;
    *zoom:1
}
.base-tit:before, .base-tit:after {
    display:table;
    content:"";
    line-height:0
}
.base-tit:after {
    clear:both
}
.base-tit span {
    float:right;
    color:#390;
    font-weight:normal
}
.base-tit b {
    color:#D9534F
}
.queryinfo {
    padding-bottom:6px
}
.bds_tools a {
    padding-left: 0;
}
.banner, banner-related {
    overflow:hidden;
    clear:both;
    background-color: #fff;
    text-align: center;
}
.banner-post {
    line-height: 1px;
    padding-top:10px;
    background-color: #fff;
}
.banner-navbar, .banner-site {
    margin-bottom:10px;
    background: none;
}
.banner-sticky {
    margin-bottom:10px;
    line-height: 1px;
}
.banner-contenttop {
    margin-bottom:1px;
}
.banner img {
    display:block
}
.page .article-header {
    padding:8px 20px
}
.breadcrumbs {
    margin: 0 0 1px;
    padding: 9px 20px 7px;
    background-color:#f7f7f7;
}
.breadcrumbs small {
    font-size: 12px;
    color: #bbb;
    margin: 0 2px;
    font-weight: bold;
}
.article-footer, .article-author {
    padding:15px 20px;
    overflow: hidden;
}
.article-header {
    padding:2px 20px 12px;
    background-color:#fff;
    border-bottom:1px solid #eeeeee
}
.article-title {
    padding:5px 0;
}
.article-title a {
    color: #444;
    font-weight:normal;
    font-size:30px;
    line-height:60px;
}
.article-content {
    font-size:15px;
    line-height:26px;
    word-break:break-all;
    word-wrap:break-word;
    position:relative;
    padding:10px 20px 20px 20px;
;
    background-color:#fff
}
.article-content h2 {
    font-size:18px;
    font-weight: bold;
    margin:20px -20px 20px -24px;
    padding:10px 20px 9px 10px;
    line-height:18px;
    border-left:4px solid #00a67c;
    background-color: rgba(248, 251, 253, 0.75)
}
.article-content h3 {
    font-size:16px;
    font-weight:bold;
}
.article-content h4 {
    font-size:15px;
    font-weight:bold;
}
.article-content p {
    margin:0px 0 15px 0;
}
.article-content ul, .article-content ol {
    margin:8px 0 8px 30px;
}
.article-content li:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content:"\f192";
    width: 20px;
    line-height: 30px;
    font-size: 12px;
    color: #bbb;
}
.article-content li {
    text-indent:0px;
    line-height: 30px;
}
.article-content table {
    border-top:solid 1px #ddd;
    border-left:solid 1px #ddd;
    width:100%;
    margin-bottom:16px;
    text-indent:0px;
}
.article-content table th {
    background-color:#f9f9f9;
    text-align:center
}
.article-content table td, .article-content table th {
    border-bottom:solid 1px #ddd;
    border-right:solid 1px #ddd;
    padding:5px 10px
}
.article-content .alignleft {
    float:left;
    text-align:left;
    margin-right:10px
}
.article-content .aligncenter {
    margin: 0 auto;
    text-align: center;
    display: block;
}
.article-content .alignright {
    float:right;
    text-align:right;
    margin-left:10px
}
.article-content a {
    color:#00a67c;
}
.article-content a:hover {
    color:#D9534F;
}
.article-content a.dl {
    border: 2px solid white;
    border-radius: 2px;
    margin: 10px 5px 20px 25px;
    box-shadow: 0 0 0 1px #EEE;
    color:#ffffff;
    display: inline-block;
    text-align: center;
    padding:8px 16px;
    cursor: pointer;
    vertical-align: text-bottom;
    background: #5fbaac;
    text-indent:0;
}
.article-content a.dl i {
    margin-right:10px;
    vertical-align: inherit;
}
.article-content a.dl:hover {
    background:#f78585;
}
.article-content img {
    margin: 0 auto;
    display:block;
}
.article-footer {
    background-color:#fff;
    border-top:1px solid #f7f7f7
}
.article-tags {
    float:left;
    font-size:15px;
}
.article-tags i {
    margin-right:10px;
    color: #bbb;
}
.article-tags a {
    display:inline-block;
    padding:2px 6px 3px;
    margin:0 2px;
    color:#fff;
    background-color:#4a4a4a;
    opacity: 0.70;
    filter:alpha(opacity=90);
}
.article-tags a:hover {
    background-color:#428bca;
    opacity: 1;
    filter:alpha(opacity=100);
}
.article-tags a:nth-child(5n) {
    background-color: #4A4A4A;
}
.article-tags a:nth-child(5n+1) {
    background-color: #428BCA;
}
.article-tags a:nth-child(5n+2) {
    background-color: #5CB85C;
}
.article-tags a:nth-child(5n+3) {
    background-color: #D9534F;
}
.article-tags a:nth-child(5n+4) {
    background-color: #F0AD4E;
}
.tag-clouds {
    overflow: hidden;
}
.tag-clouds li {
    float:left;
    width:25%;
    margin-bottom:12px;
    padding-bottom:2px;
    height:30px;
    border-bottom:1px dotted #ddd;
    overflow: hidden;
}
.tag-clouds strong {
    color:#666;
    margin-left:2px;
    margin-bottom: 10px;
    display: inline-block;
}
.article-info-text {
    margin-top:15px;
    font-size:14px
}
.article-content blockquote {
    margin:15px auto;
    border:1px solid #D6E9C6;
    border-left-width:3px;
    padding:5px 15px 10px;
    background-color:#fafcf9;
    font-size:14px;
}
.article-content blockquote:before {
    position: absolute;
    left: 0;
    padding-left: 36px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: #C4C4C4;
    text-indent: 0;
    margin-top:10px;
    content:"\f10d";
}
.article-content blockquote p {
    text-indent: 20px;
    margin:6px 0 5px 0;
    padding:0;
    font-size:14px;
}
.article-content blockquote li {
    margin-bottom:5px;
    line-height:25px
}
.article-nav {
    border-top:1px solid #f2f2f2;
    background-color: rgba(248, 251, 253, 0.75);
    overflow:hidden;
    padding:15px 20px;
    font-size:15px;
    color:#bbb
}
.article-nav span {
    float:left;
    position:relative;
    max-width:50%;
}
.article-nav span.article-nav-next {
    float:right;
    text-align:right;
}
.relates {
    overflow:hidden;
    background-color:#fff;
    border-top:1px solid #F2F2F2;
    margin-bottom: 10px;
}
.relates h3 {
    font-size:15px;
    line-height: 15px;
    border-bottom:1px dotted #e4e4e4;
    padding:15px 20px 10px;
    margin-bottom: 0
}
.relates ul {
    padding: 15px 0 15px 10px;
    overflow: hidden;
}
.relates li {
    float:left;
    width:49%;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    color:#bbb;
}
.relates li i {
    vertical-align: middle;
}
.relates a {
    margin-right: 20px;
    padding-left:10px;
}
.rowpage {
    position:relative;
    background-color:#fff;
    padding:0 20px
}
.rowpage-header {
    border-bottom:1px solid #e2ee;
    line-height:16px;
    height:31px;
    padding:8px 20px;
    margin:0 -20px 20px;
    background-color: rgba(248, 251, 253, 0.75)
}
.rowpage-header .share {
    margin:3px 0 0
}
.link-content {
    padding:20px 0;
}
.link-content li {
    float:left;
    text-align: center;
    width: 100px;
    font-size:12px;
    margin-bottom:10px
}
.link-content li img, .readers a img {
    border-radius:100%;
    margin-bottom:5px;
    transition:0.5s;
    -webkit-transtion:0.5s
}
.link-content li span, .readers a span {
    display:block
}
.link-content li:hover img, .readers a:hover img {
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}
.readers {
    padding:20px 0;
}
.readers a {
    margin: 0 0 15px 0;
    width: 100px;
    display: inline-block;
    font-size:12px;
    text-align: center;
}
.tagcloud {
    padding: 10px 10px 10px 15px;
}
.tagcloud a {
    margin: 0 5px 5px 0;
    display: inline-block;
}
.archives .item {
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.archives h3 {
    float: left;
    margin-bottom:10px;
    font-size: 20px;
    font-weight: normal;
    color: #F15A23;
    line-height: 20px;
    margin-top: 0;
}
.archives-list {
    padding-left: 20px;
    margin: 0 0 20px 140px;
}
.archives-list li {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 4px;
}
.archives-list time {
    width: 40px;
    display: inline-block;
}
.archives-list span {
    font-size: 12px;
    display: inline-block;
    margin-left: 10px;
}
.meta-tit {
    border-bottom:solid 1px #e6e6e6;
    padding:0 0 10px;
    margin-bottom:20px
}
.widget {
    clear:both;
    margin-bottom:10px;
    background-color: rgba(248, 251, 253, 0.75);
}
.widget h2 .btn {
    position:absolute;
    top:15px;
    right:10px;
    font-weight:normal;
    padding: 1px 5px 1px;
    color: #ffffff;
    background-color: #5fbaac;
    font-size:13px
}
.widget-notip {
    line-height:20px;
    color:#666;
    border-top-color:#f00
}
.widget ul {
    *zoom:1
}
.widget ul:before, .widget ul:after {
    display:table;
    content:"";
    line-height:0
}
.widget ul:after {
    clear:both
}
.widget-notip h3 {
    margin-bottom:13px
}
.widget_views li, .widget_rss li, .widget_recent_entries li, .d_hotpost_txt li {
    border-bottom:solid 1px #eee;
    padding:8px 15px;
}
.widget_links ul {
    padding:5px 0 15px 12px
}
.widget_links li {
    width:50%;
    float:left;
}
.widget_links li a {
    background-color: #fff;
    padding:5px 8px;
    display: inline-block;
    width: 136px;
}
.widget_pages ul {
    padding:10px 15px 5px;
    overflow:hidden
}
.widget_pages li {
    float:left;
    width:50%;
    margin-bottom: 5px;
}
.widget_recent_entries span {
    display: block;
    font-size: 12px;
    color: #999;
    margin-top: 2px;
}
.d_banner img {
    display:block
}
.d_banner_inner {
    line-height: 1px;
    position:relative;
    overflow:hidden
}
.d_reader ul {
    padding:15px 0 9px 16px
}
.d_reader li {
    width:40px;
    height:40px;
    float:left;
    margin:0 0 6px 6px
}
.d_reader li a {
    display:block
}
.d_reader li a, .d_reader li a:hover {
    color:#fff
}
.d_reader li:hover {
    z-index:20
}
.d_reader li:hover .avatar-popup {
    display:block
}
.d_banner .sell {
    display:block;
    border:solid 1px #d6d6d6;
    color:#999;
    text-align:center;
    height:123px;
    line-height:123px;
    font-weight:bold
}
.d_banner .sell:hover {
    border-color:#bbb;
    color:#777777
}
.d_comment ul {
    padding-bottom:20px
}
.d_comment ul a {
    display:block;
    overflow:hidden;
    position:relative;
    padding:0 20px
}
.d_comment .avatar {
    float:left;
    width:48px;
    margin:18px 12px 0 0;
    border-radius: 2px;
}
.d_comment div.muted {
    border-radius: 3px;
    margin-top: 15px;
    position: relative;
    min-height: 40px;
    background:#fbfdfb;
    border: 1px #eee solid;
    padding:8px;
    width: 240px;
    font-size:14px;
    float: right;
}
.d_comment div.muted i {
    color:#00a67c;
    font-style: normal;
}
.c-main:before, .d_comment div.muted:before {
    content:'';
    display: inline-block;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 9px solid #eee;
    position:absolute;
    top: 15px;
    left: -9px;
}
.c-main:after, .d_comment div.muted:after {
    content:'';
    display: inline-block;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #fbfdfb;
    position:absolute;
    top: 17px;
    left: -7px;
}
.widget_calendar {
    overflow:hidden
}
#calendar_wrap {
    margin: 0 15px 10px;
}
.widget_calendar table {
    width:100%;
    text-align:center;
}
.widget_calendar table caption {
    padding:10px 0 5px;
    font-size:15px;
}
.widget_calendar table #prev a, .widget_calendar table #next a {
    display:block;
    padding:0 10px
}
.widget_calendar table #prev {
    text-align:left
}
.widget_calendar table #next {
    text-align:right
}
.widget_calendar table tbody td, .widget_calendar table tfoot td, .widget_calendar table thead th {
    padding:5px 3px;
    border:1px solid #eee;
}
.widget_calendar table thead th {
    background-color: rgba(248, 251, 253, 0.75)
}
.widget_calendar table tbody td a {
    display:block;
    margin:0 3px;
    background-color:#00a67c;
    color:#fff
}
.widget_calendar table tbody td a:hover {
    background-color: #35d2ab;
}
.widget_categories {
}
.widget_categories ul {
    overflow:hidden;
    padding:10px 0 5px;
    color:#bbb
}
.widget_categories li {
    float:left;
    width:50%;
    margin-bottom: 5px;
}
.widget_categories li a {
    margin-left:15px
}
.widget_categories li ul {
    padding:0 0 0 15px
}
.widget_categories li li {
    float:none;
    width:auto
}
.widget_nav_menu ul {
    padding:10px 15px 5px;
    color: #999;
}
.widget_nav_menu ul li {
    margin-bottom: 8px;
}
.widget_rss ul {
    color: #999;
}
.d_textbanner a {
    display: block;
    background-color:#fff;
}
.d_textbanner a h3 {
    font-size: 18px;
    padding:0 20px 0;
    font-weight: normal
}
.d_textbanner a p {
    color: #999;
    margin-bottom: 0;
    padding: 0 20px 15px;
}
.d_textbanner a.style01, .d_textbanner a.style01 h2 {
    color: #428BCA;
}
.d_textbanner a.style01:hover {
    border-color: #428BCA;
    color: #357EBD;
}
.d_textbanner a.style02, .d_textbanner a.style02 h2 {
    color: #D9534F;
}
.d_textbanner a.style02:hover {
    border-color: #D9534F;
    color: #D33632;
}
.d_textbanner a.style03, .d_textbanner a.style03 h2 {
    color: #5CB85C;
}
.d_textbanner a.style03:hover {
    border-color: #5CB85C;
    color: #4CAE4C;
}
.d_textbanner a.style04, .d_textbanner a.style04 h2 {
    color: #C35BFF;
}
.d_textbanner a.style04:hover {
    border-color: #C35BFF;
    color: #B433FF;
}
.d_textbanner a.style05, .d_textbanner a.style05 h2 {
    color: #33BBBA;
}
.d_textbanner a.style05:hover {
    border-color: #33BBBA;
    color: #00ABA9;
}
.d_tags {
    padding:12px 10px 15px 20px;
}
.d_tags a:nth-child(9n) {
    background-color: #4A4A4A;
}
.d_tags a:nth-child(9n+1) {
    background-color: #15a287;
}
.d_tags a:nth-child(9n+2) {
    background-color: #5CB85C;
}
.d_tags a:nth-child(9n+3) {
    background-color: #D9534F;
}
.d_tags a:nth-child(9n+4) {
    background-color: #567E95;
}
.d_tags a:nth-child(9n+5) {
    background-color: #B433FF;
}
.d_tags a:nth-child(9n+6) {
    background-color: #00a67c;
}
.d_tags a:nth-child(9n+7) {
    background-color: #B37333;
}
.d_tags a:nth-child(9n+8) {
    background-color: #FF6600;
}
.d_tags a {
    width: 44%;
    opacity: 0.70;
    filter:alpha(opacity=80);
    color: #fff;
    background-color: #00a67c;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 2px 6px;
    line-height: 21px;
}
.d_tags a:hover {
    opacity: 1;
    filter:alpha(opacity=100);
}
.d_postlist {
    padding:0 20px;
}
.d_postlist .title {
    margin: 5px 0;
}
.d_postlist ul {
    padding:0 0 20px;
}
.d_postlist li a {
    padding:5px 0 15px 90px;
    border-bottom:solid 1px #eee;
    overflow:hidden;
    position:relative;
    display:block;
    font-size:14px
}
.d_postlist li a:hover {
    color:#d9534f;
}
.d_postlist .text {
    margin:5px 0 0 0;
    display:block;
    max-height:50px;
    overflow: hidden;
    line-height: 24px;
}
.d_postlist .thumbnail {
    float:left;
    margin-left:-90px;
    margin-top: 10px;
    margin-right: 10px;
}
.d_postlist .thumbnail img {
    max-width:100px;
    max-height:64px;
    display:block;
    margin:0 auto;
}
.d_postlist .nopic li a {
    padding: 8px 0;
}
.d_postlist .nopic .text {
    margin-top:0;
}
.widget_meta {
    margin:0 0 10px
}
.widget_meta ul {
    line-height:24px;
    padding:0 20px 10px
}
.widget_meta ul li {
    margin-bottom: 5px;
}
.widget_archive ul {
    padding: 10px 20px 5px;
    overflow: hidden;
    color: #999;
}
.widget_archive li {
    width: 50%;
    float: left;
    margin-bottom: 5px;
}
.widget_archive select, .widget_categories select {
    margin-top:10px;
    width:91%;
    margin-left: 15px;
    height:32px;
    line-height:32px;
    padding:2px
}
#postcomments {
    position:relative;
    background-color:#fff
}
#respond {
    position:relative;
    background-color:#fff
}
#respond .base-tit {
    display:none
}
.comment #respond {
    margin:10px 0 0;
    padding:0;
    border:1px solid #ddd
}
.commentnew {
    background-color:#DFF0D8
}
.commentnew .c-main {
    margin-bottom:5px
}
.comment {
    padding:12px 0 10px 0
}
.commentlist {
    padding:12px 20px 0 20px
}
.c-avatar .avatar {
    position: absolute;
    width:54px;
    height:54px;
    border-radius: 2px;
    webkit-transition:all 300ms ease-in-out;
    -o-transition:all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -webkit-transition: all 0.3s ease-out;
}
.c-main {
    padding:10px 15px;
    line-height:25px;
    margin-top:-2px;
    margin-left: 72px;
    border-radius: 3px;
    position: relative;
    background:#fbfdfb;
    border: 1px #eee solid;
    font-size: 15px;
    word-wrap: break-word;
}
.c-meta {
    color:#bbb;
    font-size:14px;
}
.c-author {
    margin-right:10px
}
.comment-reply-link {
    margin-left:6px;
    color:#00a67c;
}
.comment-reply-link:hover {
    color:#D9534F
}
.children .comment {
    padding:12px 0 0 10px;
    margin:10px 0 0 60px;
}
.children .c-main p {
    margin-right:0
}
.children .c-meta {
    padding-top:1px
}
.c-floor {
    float:right;
    font-size:18px;
    color:#dddddd
}
.comment:hover .c-floor {
    color:#999999
}
.c-approved {
    border-radius:2px;
    background-color: rgba(248, 251, 253, 0.75);
    border:1px solid #ccc;
    color:#999;
    display:inline-block;
    padding:1px 5px;
    margin-top:4px
}
.wp-smiley {
    margin: 0 !important;
    display: inline-block!important;
}
#comments {
    font-size:15px;
    padding:12px 20px;
    line-height:14px;
    color:#5fbaac;
    font-weight:normal;
    border-bottom:1px solid #DBECE8
}
#comments b {
    font-weight:normal;
    font-size:13px
}
#commentform {
    margin-bottom:0
}
.comt-title {
    overflow:hidden;
    padding:12px 20px;
    background-color:#f7f7f7;
}
.comt-count {
    float:right;
    color:#999;
    margin-bottom:5px
}
.comt {
    padding:20px 20px 5px 20px;
    position:relative
}
.comt-avatar {
    height:28px !important;
    width:28px
}
.comt-avatar img {
    border-radius:2px;
    opacity:0.9;
    height:28px !important;
    width:28px !important;
}
.comt-author {
    margin:5px 10px 0 10px;
    font-size:16px;
    color:#666
}
.comt-author span {
    color:#bbb;
    margin-left:10px
}
.comt-box {
    overflow: hidden;
}
.comt-area {
    margin-bottom: 5px;
}
.comt-ctrl {
    position:relative;
    overflow: hidden;
}
.comt-addsmilies, .comt-addcode {
    float:left;
    color:#999;
    padding:0 10px 0 10px
}
.comt-addsmilies:hover, .comt-addcode:hover {
    color:#666
}
.comt-mailme {
    display: none;
}
#comment {
    background: #fff url(./img/comment.jpg) no-repeat right bottom;
}
.OwO-item img {
    width: 2.5em;
}
.c-main img {
    width: 2.5em;
}
.comt-ctrl .popover {
    width:219px
}
.comt-ctrl .popover-content {
    padding:2px 0 2px 1px
}
.comt-ctrl .popover-content a {
    margin:-1px -1px 0 0;
    float:left;
    width:16px;
    height:16px;
    padding:5px;
    line-height:0;
    display:inline-block;
    border:solid 1px #eee
}
.comt-ctrl .popover-content a img {
    display:block
}
.comt-ctrl label {
    margin:0 5px
}
.comt-ctrl label input {
    margin-right:4px
}
.comt-tips {
    text-align: right;
    line-height: 30px;
    margin-right: 10px;
    color: #999;
}
.comt-error {
    color:#D9534F;
}
#loading {
    padding:5px 0
}
#loading img {
    margin-right:5px;
    vertical-align: middle;
}
#error {
    padding:5px 0;
    color:#cc0000
}
.ajax-notice {
    color: #FF6600;
    font-size: 12px;
}
.comt-submit {
    position:absolute;
    right:-1px;
    top:-1px;
    border:solid 1px #ddd;
    padding:0 30px;
    height:34px;
    width:120px;
    cursor:pointer;
    font-weight:bold;
    color:#666;
    border-radius:0 0 3px 0;
    background-image:-webkit-linear-gradient(#fbfbfb, #f6f6f6);
    text-shadow:0 -1px 0 #ffffff
}
.comt-submit:hover {
    color:#444;
    border-color:#d6d6d6;
    background-image:-webkit-linear-gradient(#f6f6f6, #eeeeee)
}
.comt-submit:active {
    border-color:#c6c6c6;
    box-shadow:inset 0 2px 2px #e6e6e6
}
.comt-comterinfo {
    padding:20px 0 0 210px;
    color:#444;
    display:none;
}
.comt-comterinfo h4 {
    float:left;
    width:190px;
    line-height:100px;
    margin-left:-210px;
    text-align:right;
    _display:inline
}
.comt-comterinfo ul {
    border-left:dotted 1px #ccc;
    padding-left:30px
}
.comt-comterinfo li {
    margin-bottom:10px
}
.comt-comterinfo input {
    margin-right:10px;
    position:relative;
    *bottom:-3px
}
#cancel-comment-reply-link {
    display:none;
    color:#bbb;
    margin:-12px -20px;
    line-height:28px;
    font-size:14px;
    padding:12px 20px
}
#cancel-comment-reply-link:hover {
    background-color:#999999;
    color:#fff
}
.comment #cancel-comment-reply-link {
    display:block
}
/*@yusi相关文章*/
.related_posts {
    overflow:hidden;
    background-color:#fff;
    padding:20px 10px 0 10px;
    margin:10px 0 10px 0;
}
.related_posts a:hover {
    color:#d9534f;
}
.related_img {
    width:100%;
    overflow:hidden;
    text-align:center;
}
.related_box {
    float:left;
    overflow:hidden;
    width:25%;
    padding-bottom:15px
}
.related_box .r_title {
    line-height:25px;
    height:50px;
;
    font-size:14px;
    overflow:hidden;
    float:left;
    padding:10px 10px 0 10px;
    text-align:left;
}
.article-social {
    margin-bottom: 30px;
    padding-top: 40px;
    text-align: center;
    text-indent:0;
}
.article-social a {
    border-bottom: 1px solid #d6d6d6;
    text-indent:0;
}
.article-social a:hover {
    background: #F17067;
    border-bottom: 1px solid #d6d6d6;
}
#Addlike {
    background-color: #f78585;
    color: #fff;
}
#Addlike:hover {
    background-color:#F17067;
}
.action {
    position: relative;
    padding:8px 40px;
    display: inline-block;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    background-color: #5fcec0;
    font-size:15px;
    margin: 0 3px;
    color: #fff;
}
.action:hover {
    background-color:#3bbfaf;
    border-bottom: 1px solid #d6d6d6;
}
.action i, bdsharebuttonbox i {
    margin-right: 5px;
    font-size: 1.1em;
}
.action.actived {
    border-color: #FF9790;
    color: #fff;
    background-color:#F17067 !important;
}
.action .action-popover {
    position: absolute;
    width: 249px;
    padding: 5px 0 2px;
    top: -45px;
    left: 50%;
    margin-left: -125px;
    display: none;
    height: 46px;
}
.action .popover-content {
    padding: 6px 3px 5px 8px;
}
.action:hover .action-popover {
    display: block;
}
.action .popover {
    display: block;
    border-radius: 4px;
}
.article-social .or {
    background: #ffffff;
    color: #455670;
    display: inline-block;
    padding: 5px 12px;
    font-size: 0.8725em;
    position: absolute;
    z-index: 2;
    margin:4px 0 0 -19px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
}
/*@-ms-viewport {*/
/*    width:device-width*/
/*}*/
.article-content pre {
    background-color: #f8f8f8;
    border: 1px solid #eeeeee;
    overflow: hidden;
    padding: 8px;
    font-size:14px;
}
.prettyprint.linenums, pre.prettyprint.linenums {
    -webkit-box-shadow: inset 40px 0 0 #eeeeee, inset 42px 0 0 #33b796;
    -moz-box-shadow: inset 40px 0 0 #eeeeee, inset 42px 0 0 #33b796;
    box-shadow: inset 40px 0 0 #eeeeee, inset 42px 0 0 #33b796;
}
.prettyprint.linenums ol, pre.prettyprint.linenums ol {
    margin:0 0 0 40px;
}
.prettyprint.linenums ol li, pre.prettyprint.linenums ol li {
    padding-left: 6px;
    color: #bebec5;
    line-height: 20px;
    margin-left: 0;
    list-style: decimal;
}
.prettyprint.linenums ol li:before, pre.prettyprint.linenums ol li:before {
    content:"";
    width:0px;
}
.prettyprint .com {
    color: #666666;
}
.prettyprint .lit {
    color: #cc00cc;
}
.prettyprint .pun, .prettyprint .opn, .prettyprint .clo {
    color: #00aa00;
}
.prettyprint .fun {
    color: #dc322f;
}
.prettyprint .str, .prettyprint .atv {
    color: #c28f5b;
}
.prettyprint .kwd, .prettyprint .tag {
    color: #F92659;
}
.prettyprint .typ, .prettyprint .atn, .prettyprint .dec, .prettyprint .var {
    color: #00aa00;
}
.prettyprint .pln {
    color: #0000ff;
}
.navbar .screen-mini {
    display: none;
}
@media (max-width:979px) {
    .toggle-search {
        padding:11px 25px 10px 20px;
    }
    .yusi-mono {
        font-size:42px !important;
    }
    .navbar {
        background-color: transparent;
        height: auto
    }
    .navbar .screen-mini {
        display: block;
        float: left;
    }
    .navbar .screen-mini .btn {
        background-color: #4A4A4A;
        padding: 16px 22px
    }
    .navbar .screen-mini .btn:hover, .navbar .screen-mini .btn.active {
        background-color: #404040;
    }
    .navbar .screen-mini .btn i {
        margin-top: 2px;
    }
    .navbar .nav {
        float: none;
        padding: 0;
        background-color: #eee;
        margin-right: 0;
        display: none;
    }
    .navbar .nav > li {
        float: none;
        margin-right: 0;
        font-weight: bold;
    }
    .navbar .nav > li > a {
        padding: 10px 20px 9px;
        border-bottom: 1px solid #ddd;
        color: #444;
    }
    .navbar .nav li a:hover {
        background-color: #fff;
        color: #444;
    }
    .navbar .nav ul {
        display: block;
    }
    .navbar .nav > li > ul {
        position:relative;
        display: block;
        top: 0;
        left: 0;
        padding-bottom: 0;
        font-weight: normal;
    }
    .navbar .nav > li > ul > li > ul {
        position:relative;
        display: block;
        top: 0;
        left: 0;
        padding-bottom: 0;
    }
    .navbar .nav > li > ul > li {
        float:none;
        margin:0;
        position:relative;
        border-bottom: 1px solid #ddd;
    }
    .navbar .nav > li > ul > li > a, .navbar .nav > li > ul > li > ul > li > a {
        float:none;
        display:block;
        *min-width:100px;
        padding: 10px 20px 9px 50px;
        color:#444
    }
    .navbar .nav > li > ul > li > ul > li > a {
        padding-left: 80px;
    }
    .navbar .nav > li > ul > li > a:hover, .navbar .nav li li.current-menu-item a {
        color:#444
    }
    .navbar .nav li li a:hover, .navbar .nav li li.current-menu-item a {
        background-color:#fff
    }
    .navbar .nav li:hover a, .navbar .nav li.current-menu-item a, .navbar .nav li.current-menu-parent a, .navbar .nav li.current_page_item a, .navbar .nav li.current-post-ancestor a, .navbar .nav li ul {
        background-color: #eee;
        color: #444;
        display: block;
    }
    .yusi-bloger, .speedbar, .screen-search {
        display: none;
    }
    .sidebar {
        display: none;
    }
    .content {
        margin-right: 0;
    }
    .header {
        margin-bottom: 1px;
    }
    .footer-inner {
        border-left: none;
    }
    .share {
        display: none;
    }
    .navbar .menu {
        float: none;
        margin: 0 20px 10px;
        text-align: center;
    }
    .navbar .menu .btn-group {
        float: none;
        display: inline-block;
        margin-top: -24px;
    }
    .tag-clouds li {
        width: 50%;
    }
    .navbar .btn.screen-nav {
        padding: 11px 20px;
        height:auto;
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
    }
    .navbar .btn.screen-nav:hover {
        background-color: transparent;
    }
    .row-fluid {
        width:100%;
        *zoom:1
    }
    .row-fluid:before, .row-fluid:after {
        display:table;
        content:"";
        line-height:0
    }
    .row-fluid:after {
        clear:both
    }
    .row-fluid[class*="span"] {
        display:block;
        width:100%;
        min-height:30px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        float:left;
        margin-left:1.2987012987012987%;
        *margin-left:1.2487012987012986%
    }
    .row-fluid[class*="span"]:first-child {
        margin-left:0
    }
    .row-fluid .controls-row[class*="span"] +[class*="span"] {
        margin-left:1.2987012987012987%
    }
    .row-fluid .span12 {
        width:100%;
        *width:99.95%
    }
    .row-fluid .span11 {
        width:91.55844155844156%;
        *width:91.50844155844156%
    }
    .row-fluid .span10 {
        width:83.1168831168831%;
        *width:83.0668831168831%
    }
    .row-fluid .span9 {
        width:74.67532467532467%;
        *width:74.62532467532468%
    }
    .row-fluid .span8 {
        width:66.23376623376623%;
        *width:66.18376623376624%
    }
    .row-fluid .span7 {
        width:57.79220779220779%;
        *width:57.74220779220779%
    }
    .row-fluid .span6 {
        width:49.35064935064935%;
        *width:49.30064935064935%
    }
    .row-fluid .span5 {
        width:40.90909090909091%;
        *width:40.85909090909091%
    }
    .row-fluid .span4 {
        width:32.467532467532465%;
        *width:32.41753246753247%
    }
    .row-fluid .span3 {
        width:24.025974025974023%;
        *width:23.975974025974022%
    }
    .row-fluid .span2 {
        width:15.584415584415584%;
        *width:15.534415584415584%
    }
    .row-fluid .span1 {
        width:7.142857142857142%;
        *width:7.0928571428571425%
    }
    .row-fluid .offset12 {
        margin-left:102.59740259740259%;
        *margin-left:102.4974025974026%
    }
    .row-fluid .offset12:first-child {
        margin-left:101.2987012987013%;
        *margin-left:101.19870129870131%
    }
    .row-fluid .offset11 {
        margin-left:94.15584415584415%;
        *margin-left:94.05584415584416%
    }
    .row-fluid .offset11:first-child {
        margin-left:92.85714285714286%;
        *margin-left:92.75714285714287%
    }
    .row-fluid .offset10 {
        margin-left:85.7142857142857%;
        *margin-left:85.6142857142857%
    }
    .row-fluid .offset10:first-child {
        margin-left:84.4155844155844%;
        *margin-left:84.31558441558441%
    }
    .row-fluid .offset9 {
        margin-left:77.27272727272727%;
        *margin-left:77.17272727272727%
    }
    .row-fluid .offset9:first-child {
        margin-left:75.97402597402598%;
        *margin-left:75.87402597402598%
    }
    .row-fluid .offset8 {
        margin-left:68.83116883116882%;
        *margin-left:68.73116883116883%
    }
    .row-fluid .offset8:first-child {
        margin-left:67.53246753246754%;
        *margin-left:67.43246753246754%
    }
    .row-fluid .offset7 {
        margin-left:60.38961038961039%;
        *margin-left:60.289610389610395%
    }
    .row-fluid .offset7:first-child {
        margin-left:59.090909090909086%;
        *margin-left:58.99090909090909%
    }
    .row-fluid .offset6 {
        margin-left:51.94805194805195%;
        *margin-left:51.84805194805195%
    }
    .row-fluid .offset6:first-child {
        margin-left:50.649350649350644%;
        *margin-left:50.54935064935065%
    }
    .row-fluid .offset5 {
        margin-left:43.506493506493506%;
        *margin-left:43.40649350649351%
    }
    .row-fluid .offset5:first-child {
        margin-left:42.2077922077922%;
        *margin-left:42.10779220779221%
    }
    .row-fluid .offset4 {
        margin-left:35.064935064935064%;
        *margin-left:34.96493506493507%
    }
    .row-fluid .offset4:first-child {
        margin-left:33.76623376623376%;
        *margin-left:33.666233766233766%
    }
    .row-fluid .offset3 {
        margin-left:26.623376623376622%;
        *margin-left:26.523376623376617%
    }
    .row-fluid .offset3:first-child {
        margin-left:25.324675324675322%;
        *margin-left:25.22467532467532%
    }
    .row-fluid .offset2 {
        margin-left:18.18181818181818%;
        *margin-left:18.081818181818182%
    }
    .row-fluid .offset2:first-child {
        margin-left:16.883116883116884%;
        *margin-left:16.783116883116882%
    }
    .row-fluid .offset1 {
        margin-left:9.74025974025974%;
        *margin-left:9.64025974025974%
    }
    .row-fluid .offset1:first-child {
        margin-left:8.441558441558442%;
        *margin-left:8.34155844155844%
    }
}
@media (max-width:767px) {
    .article-title a {
        font-size:17px;
        line-height:25px;
    }
    .pagecontent {
        margin-left: 0;
    }
    .relates li img, .comt-comterinfo ul .help-inline, .archive-header-info, .page-sidebar, .pagesidebar, .speedbar {
        display: none;
    }
    .header {
        position: relative;
    }
    .relates li {
        float: none;
        width: 100%;
    }
    .relates a {
        height: auto;
        text-align: left;
        line-height: 14px;
        border-left: none;
    }
    .archives h3, .article-footer .share {
        float: none;
        clear: both;
    }
    .archives-list, .content-page, .comt-comterinfo {
        padding-left: 0;
    }
    .comt-comterinfo h4 {
        float: none;
        width: 100%;
        margin-left: 0;
        line-height: 20px;
        text-align: left;
    }
    .comt-comterinfo ul {
        padding-left: 0;
        border-left: none;
    }
    .comt-comterinfo ul input {
        margin-right: 0;
        display: block;
        width: 100%;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        min-height: 30px;
    }
    .rollto {
        bottom: 2px;
        right: 4px;
    }
    .plinks ul li {
        width: 33.3333333%;
    }
    .excerpt, .excerpt:hover {
        padding: 10px 15px 10px 15px;
    }
    .excerpt-nothumbnail, .excerpt-nothumbnail:hover {
        padding: 10px 20px;
    }
    .excerpt .focus {
        width: 100px;
        height: 68px;
        margin:0 10px 0 0;
        float:left;
        display:inline;
    }
    .excerpt .focus a {
        width: 100px;
        height: 68px;
    }
    .excerpt .focus a img {
        max-width: 100px;
        max-height: 68px;
    }
    .excerpt header h2 {
        font-size: 16px;
        line-height: 20px;
        display: block;
    }
    .excerpt header .label, .excerpt p.auth-span {
        display: none;
    }
    .excerpt header {
        margin-bottom: 5px;
        margin-right: 0;
    }
    .excerpt span.note {
        display:block;
        height: 60px;
        padding-top:3px;
        overflow: hidden;
        line-height: 20px;
    }
    /*.banner{display: none;}*/
}
@media (max-width:334px) {
    .yusi-mono {
        font-size:32px !important;
    }
    .article-title a {
        line-height:25px;
    }
    .article-header .muted {
        margin-right:6px;
    }
    .excerpt header h2 {
        display:block;
        font-size: 16px;
    }
    .muted i {
        margin-top:-1px;
    }
    .post-comments, .banner, #go-comment, #mute-category, .navbar .menu .btn-group {
        display: none;
    }
    .hot-posts .muted {
        margin-left:5px;
    }
    .related_box {
        width:50%;
    }
    .related_box img {
        width:90%;
    }
    .action {
        padding:6px 20px
    }
    .c-avatar .avatar {
        width: 24px;
        height: 24px;
    }
    .children .comment {
        margin: 10px 0 0 10px;
    }
    .c-main {
        padding:5px 5px;
        line-height:20px;
        margin-left: 35px;
        font-size: 12px;
    }
    .c-main:before, .d_comment div.muted:before {
        top: 5px;
    }
    .c-main:after, .d_comment div.muted:after {
        top: 7px;
    }
    .url {
        font-size: 12px;
    }
}
/*@yusi相关隐藏*/
.hm-t-footer a {
    display:none;
}
#foot {
    display:none;
}
.tui . {
    display:none;
}
.d_subscribe {
}
.d_subscribe form {
    margin:0;
    padding:10px 20px 10px;
}
.d_subscribe p {
    color: #666;
    font-size: 13px;
    height:20px;
}
.d_subscribe .rsstxt {
    float:left;
    padding:1px 8px;
    width:220px;
    height:30px;
    border:0;
    background:#f7f7f7;
    outline: none;
}
.d_subscribe .rsstxt:hover, .widget_newsletter .rsstxt:focus {
    outline:none;
}
.d_subscribe .rssbutton {
    width:84px;
    height:32px;
    border:0;
    background:#1abc9c;
    color:#fff;
    letter-spacing:2px;
    font-size:15px;
    font-family:"Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.d_subscribe .rssbutton:hover {
    background-color:#16a085
}
/*WOW Slider 5.4*/
#wowslider-container1 {
    zoom:1;
    position:relative;
    max-width:716px;
    float:right;
    margin:0 0 10px 0;
    z-index:90;
}
* html #wowslider-container1 {
    width:716px;
}
#wowslider-container1 .ws_images ul {
    position:relative;
    width:10000%;
    height:auto;
    left:0;
    list-style:none;
    margin:0;
    padding:0;
    border-spacing:0;
    overflow:visible;
}
#wowslider-container1 .ws_images ul li {
    width:1%;
    line-height:0;
    float:left;
    font-size:0;
    padding:0!important;
    margin:0!important;
}
#wowslider-container1 .ws_images {
    position:relative;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:hidden;
}
#wowslider-container1 .ws_images a {
    width:100%;
    display:block;
    color:transparent;
}
#wowslider-container1 img {
    max-width:none!important;
}
#wowslider-container1 .ws_images img {
    width:100%;
    border:none 0;
    max-width:none;
    padding:0;
    margin:0;
}
#wowslider-container1 a {
    text-decoration:none;
    outline:none;
    border:none;
}
#wowslider-container1 a.ws_next, #wowslider-container1 a.ws_prev {
    position:absolute;
    display:none;
    top:50%;
    margin-top:-3.5em;
    z-index:60;
    height:7.1em;
    width:7.1em;
    background-image:url(img/arrows.png);
    background-size:200%;
}
#wowslider-container1 a.ws_next {
    background-position:100% 0;
    right:1em;
}
#wowslider-container1 a.ws_prev {
    left:1em;
    background-position:0 0;
}
#wowslider-container1 a.ws_next:hover {
    background-position:100% 100%;
}
#wowslider-container1 a.ws_prev:hover {
    background-position:0 100%;
}
* html #wowslider-container1 a.ws_next, * html #wowslider-container1 a.ws_prev {
    display:block;
}
#wowslider-container1:hover a.ws_next, #wowslider-container1:hover a.ws_prev {
    display:block;
}
#wowslider-container1 .ws_playpause {
    display:none;
    width:7.1em;
    height:7.1em;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-3.5em;
    margin-top:-3.5em;
    z-index:59;
    background-size:100%;
}
#wowslider-container1:hover .ws_playpause {
    display:block;
}
#wowslider-container1 .ws_pause {
    background-image:url(img/pause.png);
}
#wowslider-container1 .ws_play {
    background-image:url(img/play.png);
}
#wowslider-container1 .ws_pause:hover, #wowslider-container1 .ws_play:hover {
    background-position:100% 100%!important;
}
#wowslider-container1 .ws-title {
    position:absolute;
    display:block;
    bottom:3.5em;
    left:1em;
    margin-right:1em;
    padding:1em .9em .9em .9em;
    background-color:rgba(0, 0, 0, 0.4);
    color:#e7ffff;
    z-index:50;
    font-weight:bold;
    text-transform:uppercase;
    border-radius:.2em;
    -moz-border-radius:.2em;
    -webkit-border-radius:.2em;
}
#wowslider-container1 .ws-title div {
    margin-top:.3em;
    font-size:1.6em;
    line-height:1.15em;
    font-weight:normal;
    text-transform:none;
    color:#FFFFFF;
}
#wowslider-container1 .ws-title span {
    font-size:2.4em;
}
#wowslider-container1 .ws_thumbs {
    font-size:0;
    position:absolute;
    overflow:auto;
    z-index:70;
    left:-19.51%;
    top:0;
    width:18.72%;
    height:100%;
}
#wowslider-container1 .ws_thumbs img {
    text-decoration:none;
    border:0;
    width:100%;
}
#wowslider-container1 .ws_thumbs a {
    position:relative;
    text-indent:-4000px;
    color:transparent;
    opacity:0.85;
    text-decoration:none;
    display:inline-block;
    border:0;
    margin-bottom:4.5%;
    text-indent:0;
    padding:2.99%;
    width:89.54%;
    background-color:#ffffff;
}
#wowslider-container1 .ws_thumbs a:hover {
    opacity:1;
}
#wowslider-container1 .ws_thumbs a:hover img {
    visibility:visible;
}
#wowslider-container1 .ws_thumbs div {
    position:relative;
    width:100%;
}
#wowslider-container1 .ws_thumbs a.ws_selthumb {
    background-color:#bce0dd;
}
#wowslider-container1 .ws_images ul {
    animation:wsBasic 16s infinite;
    -moz-animation:wsBasic 16s infinite;
    -webkit-animation:wsBasic 16s infinite;
}
@keyframes wsBasic {
    0% {
        left:-0%
    }
    12.5% {
        left:-0%
    }
    25% {
        left:-100%
    }
    37.5% {
        left:-100%
    }
    50% {
        left:-200%
    }
    62.5% {
        left:-200%
    }
    75% {
        left:-300%
    }
    87.5% {
        left:-300%
    }
}
@-moz-keyframes wsBasic {
    0% {
        left:-0%
    }
    12.5% {
        left:-0%
    }
    25% {
        left:-100%
    }
    37.5% {
        left:-100%
    }
    50% {
        left:-200%
    }
    62.5% {
        left:-200%
    }
    75% {
        left:-300%
    }
    87.5% {
        left:-300%
    }
}
@-webkit-keyframes wsBasic {
    0% {
        left:-0%
    }
    12.5% {
        left:-0%
    }
    25% {
        left:-100%
    }
    37.5% {
        left:-100%
    }
    50% {
        left:-200%
    }
    62.5% {
        left:-200%
    }
    75% {
        left:-300%
    }
    87.5% {
        left:-300%
    }
}
/* Footer */
.footer {
    background:#333;
    border-top: 8px solid #00a67c;
    -webkit-box-shadow: 0 -5px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 -8px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 -8px 0 rgba(0, 0, 0, .1);
    position:relative;
    *zoom:1
}
.social {
    height:45px;
    padding:10px 6px;
    background-color: rgba(248, 251, 253, 0.75);
}
.social i {
    font-size: 2.5em;
    width:45px;
    height: 38px;
    padding-top: 7px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 -1px 0;
}
.sinaweibo {
    background:#f78585;
}
.telegram {
    background:#27a5e7;
}
.qq {
    background:#e74c3c;
}
.facebook {
    background:#5b7aa7;
}
.email {
    background:#ECA3AC;
}
.twitter {
    background:#81c1f2;
}
.weixins {
    background: #6fc299;
}
.weixin-popover {
    position: absolute;
    width: 256px;
    padding: 5px 0 2px;
    top: 45px;
    left: 50%;
    margin-left: -125px;
    display: none;
    height: 256px;
}
.weixin:hover .weixin-popover {
    display: block;
}
.weixin .popover {
    display: block;
    border-radius: 4px;
    color:#777;
}
.social .rss {
    background:#FF7C49;
}
.social a {
    float:left;
    width:45px;
    height:45px;
    margin-right:6.5px;
    margin-left:6.5px;
    position:relative;
    color:#fff;
}
.social a:hover i {
    background-color:#7fb4ab
}
.open-message {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 2px;
    background-color: #fcf8e3;
    border:1px solid #faebcc;
    color: #8a6d3b;
    text-indent: 20px;
}
.open-message i {
    text-indent: -20px;
}
.hot-posts {
    clear:both;
    background-color:#fff;
}
.hot-posts a {
    font-size:14px;
}
.hot-posts h2 {
    line-height: 45px;
    font-weight: normal;
    color: #1abc9c;
    font-size: 16px;
}
.hot-posts ul {
    margin: 0 20px 10px;
    padding:15px 0 10px;
    list-style:none;
    overflow:hidden
}
.hot-posts li {
    overflow:hidden;
    clear:both
}
.hot-posts p {
    float:right;
    font-size:14px;
    color:#777;
    font-size:13px
}
.hot-posts .label {
    margin-right:8px;
    padding:2px 7px;
    top:-1px
}
.label-1 {
    background-color:#fd8c84
}
.label-2 {
    background-color:#6fc299
}
.label-3 {
    background-color:#81c1f2
}
/*页面分页*/
.fenye {
    text-indent: 0;
    text-align:center;
    margin:20px auto 10px;
    font-weight:bold
}
.fenye span {
    text-indent: 0;
    border-radius: 2px;
    border: 1px solid #F6EBEB;
    padding:4px 12px 3px;
    color:#fff;
    display:inline-block;
    background-color:#5fbaac;
    margin:0 1px
}
.fenye a span {
    font-weight: normal;
    background-color:#F6F6E8;
    color: #000;
    text-decoration: none;
}
.fenye a:hover span {
    background-color:#fd9790;
    color: #fff;
}
.trigger{
    color: #666;
    line-height: 1.5rem;
    cursor:pointer;
    text-align: center;
}
.pull-right > a {
    margin-right: 1em;
}
.pull-right > i {
    color: #555555;
}